Make Scripts/00 - ABC Cloning BAM - 01 KWR/02-2 - KW Research - Build Cluster.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"02 - KW Research - Build Cluster"}}},"designer":{"x":0,"y":450},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38821,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":4,"filter":{"name":"Count","conditions":[[{"a":"{{1.count}}","b":"3","o":"number:lessorequal"}]]},"mapper":{"scope":"roundtrip","variables":[{"name":"KW","value":""},{"name":"count","value":"{{ifempty(1.count; 0) + 1}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null]}}},"designer":{"x":589,"y":600,"name":"Vars"},"interface":[{"name":"KW","type":"any","label":"KW"},{"name":"count","type":"any","label":"count"}]},"parameters":{}},{"id":24,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records?recordIds={{1.recordId}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":600,"name":"Get AiT Site Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":18,"mapper":{"object":"{{1.siteInfo}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":1200,"y":600,"name":"Site Info"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":5,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to create one \"keyword seed\" for each of the given site categories.\nYou ourput the keyword seed list as a simple comma seperated list.\nYou output the comma seperated list and nothing else.\n\nOutput example: keyword seed 1,keyword seed 2,keyword seed 3,keyword seed 4,keyword seed 5\n\nEach keyword seed must include intrinsic topical niche relevance to the site and the site category that the seed word belongs to.\n\nExample:\nFinance site that talk about Business, Home Budget, Tech. \nGood keyword seed for the Home Budget category could be \"budget groceries\" <--This is a keyword seed because it intrinsically connects to the category Home Budget because groseries ties it to the home aspect.\nA bad keyword seed would be \"budget\", here there are no category connection, we could be talking about budget cars, or budget travels.\n\nTherfore; a keyword seed must always have an intrinsic connect to the category.\n\nWe will be using each keyword seed to find hundreds of other relevant keywords.\nA keyword seed must therfore always be between 1 and 3 words.\n\nExamples of 1, 2, 3 Seed Keywords:\nCategory - Mechanic Tools\nSeed Keyword - wrench \nCategory - Tech\nSeed Keyword - playstation vr\nCategory - Spirituality\nSeed Keyword - spiritual meaning of\n\nYou may be either be creating the Seed Keyword list for the first time, or be given the task to redo a Seed Keyword list based on accompanying instructions. For the later, follow the instructions.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{24.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{24.data.data.records[].fields.`Article Language`}}."},{"role":"user","content":"Please create a comma-seperated Seed Keyword list for the following categories:\n{{1.siteCategories}}\n\n{{if(length(1.lastKeywordSeedsWordsAttempt) = 0; emptystring; \"This is a redo from a previous attempt. Here is the previous Seed Keyword List: \" + 1.lastKeywordSeedsWordsAttempt + newline + newline + \" And here are the instruction on what to change: \" + 1.whatToChangeKWSeeds)}}\n\nAlready used Seed Keywords=\n{{24.data.data.records[].fields.`Seed Keywords`}}\n\nSite Information=\n{{1.siteInfo}}"}],"temperature":"0.5","n_completions":"1","response_format":"text","reasoning_effort":"high"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":22,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":1800,"y":900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"High"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":1500,"y":600,"name":"Seed Keywords"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":8,"mapper":{"array":"{{split(5.result; \",\")}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":1800,"y":450}},"parameters":{}},{"id":19,"mapper":{"name":"KW"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":2100,"y":450},"interface":[{"name":"KW","type":"any","label":"KW"}]},"parameters":{}},{"id":6,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live","data":"[{\"keyword\":\"{{8.value}}\", \"location_code\":{{24.data.data.records[].fields.location_code[]}}, \"language_code\":\"{{24.data.data.records[].fields.language_code[]}}\", \"include_seed_keyword\":true, \"include_serp_info\":false, \"ignore_synonyms\":false, \"include_clickstream_data\":false, \"exact_match\":false, \"limit\":500, \"filters\":[[\"keyword\", \"not_regex\", \"reddit\"], \"and\",[\"keyword_info.search_volume\", \">\",200]]}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2400,"y":450,"name":"keyword_suggestions"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":9,"mapper":{"array":"{{6.data.tasks[].result[].items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":2700,"y":450}},"parameters":{}},{"id":7,"mapper":{"value":"{{9.keyword}} - {{9.keyword_info.search_volume}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [9]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":3000,"y":450,"name":"keyword_suggestions"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":9,"rowSeparator":"\n"}},{"id":13,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live","data":"[{\"keywords\":[\"{{8.value}}\"], \"location_code\":{{24.data.data.records[].fields.location_code[]}}, \"language_code\":\"{{24.data.data.records[].fields.language_code[]}}\", \"include_serp_info\":false, \"closely_variants\":false, \"ignore_synonyms\":false, \"include_clickstream_data\":false, \"limit\":500, \"filters\":[[\"keyword\", \"not_regex\", \"reddit\"], \"and\",[\"keyword_info.search_volume\", \">\",200]]}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":3300,"y":450,"name":"keyword_ideas"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":11,"mapper":{"array":"{{13.data.tasks[].result[].items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":3600,"y":450}},"parameters":{}},{"id":12,"mapper":{"value":"{{11.keyword}} - {{11.keyword_info.search_volume}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [11]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":3900,"y":450,"name":"keyword_ideas"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":11,"rowSeparator":"\n"}},{"id":14,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to construct a \"keyword list\" of {{round(30 * 24.data.data.records[].fields.`Blog Vol` / 8.`__IMTLENGTH__`)}} keywords for the given category: {{8.value}}.\n\nYou will be selecting the {{round(30 * 24.data.data.records[].fields.`Blog Vol` / 8.`__IMTLENGTH__`)}} keywords from the [Keyword Research List].\nThe [Keyword Research List] include the keyword and the monthly search volume: Keyword - Monthly Search Vol\nCompile the output keyword list with a mix of high and low volume keywords.\nIf the list is too small or non excisting, you will create a list based on your own insdusty and trend knowledge.\n\nNever include generic keywords (eg. \"big tech\"), news related keywords (eg. \"ai trends\"), or keywords including reddit.\n\nThere is also a [Do Not Use Keyword List]. This is a list of keywords that have already been used and must not be used again. You must not \n\nYou output the keyword list as a simple comma seperated list.\nYou output the comma seperated list and nothing else.\n\nOutput example: keyword 1,keyword 2,keyword 3,keyword 4,keyword 5\n\nEach single keyword will be used to create an article. \n\nEach keyword must include a clear search intent with niche relevance to the site and the site category.\nPrioritize informational keywords that can be explained without human demonstration.\nGood keyword: how does bitcoin work. Bad keyword: How to change bicycle lock.\nYou must focus keywords where the search intent can be fulfilled through written text.\n\nEach keyword will be converted into an article, therefore each selected keyword must contain it's own unique search intent.\nExample of bad keywords that are too generic: \"technology news\" \"tech industry trends\" \"emerging technologies\" etc.\nThese keywords are category keywords without specific search intent. All keywords will be turned into articles, and they keyword must contain a specific search intent to gain knowledge.\n\nYou may either be creating the Keyword list for the first time, or be given the task to redo a Keyword list based on accompanying instructions. For the later, use the instructions as a guide.\n\nAlways select keywords as is, never translate. The main language for the keywords in this location is {{24.data.data.records[].fields.`Article Language`}}, but there may be English keywords mixed in as well."},{"role":"user","content":"Please create a comma-seperated Keyword list of {{round(30 * 24.data.data.records[].fields.`Blog Vol` / 8.`__IMTLENGTH__`)}} keywords for the following category: {{8.value}}\nBy selecting keywords from the [Keyword Research List].\nTry and compile the output keyword list with a mix of high and low volume keywords.\nIf the list is too small or non excisting, you will create a list based on your own insdusty and trend knowledge.\nNever use keywords from the [Do Not Use Keyword List] or [Already Selected Keywords]. That also includes word variations with the same search intent. eg. Can a cat drink milk - is the same search intent as: Can cats drink milk. So you must select keywords where the specific search intent does not corrolate with the keywords on the [Do Not Use Keyword List].\nThe [Already Selected Keywords] are keywords allocated to another category for the site. Use this info to pick new keywords that do not overlap into the other categories.\n\n{{if(length(1.whatToChangeKWCluster) = 0; emptystring; \"This is a redo from a previous attempt. Here is the instruction on what to focus on: \" + 1.whatToChangeKWSeeds)}}\n\nSite Information:\n{{1.siteInfo}}\n\n[Keyword Research List]=\n{{12.text}}\n{{7.text}}\n\n [Already Selected Keywords]=\n{{ifempty(19.KW; \"No keywords slected yet\")}}\n\n[Do Not Use Keyword List]=\n{{1.usedSiteKeywords}}\n{{1.restrictedGlobalKeywords}}"}],"temperature":"0.5","n_completions":"1","response_format":"text","reasoning_effort":"high"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":23,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":4500,"y":600}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"High"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":4200,"y":450,"name":"Category Keyword List"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":20,"mapper":{"name":"KW","scope":"roundtrip","value":"{{19.KW}}Category: {{8.value}}\nPicked keywords: {{14.result}}\n{{newline}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"advanced":true,"designer":{"x":4500,"y":300},"interface":[{"name":"KW","type":"any","label":"KW"}]},"parameters":{}},{"id":15,"mapper":{"value":"Category: {{get(split(1.siteCategories; \",\"); 8.`__IMTINDEX__`)}}\nSeed Keyword: {{8.value}}\nKeyword List: {{14.result}}{{newline}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [8]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":4800,"y":300,"name":"New Keywords"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":8,"rowSeparator":"\n"}},{"id":21,"mapper":{"object":"{{15.text}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":5100,"y":300,"name":"New Keywords"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":25,"mapper":{"object":"{{1.lastKeywordClusterAttempt}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":5400,"y":300,"name":"Last KW Cluster Attempt"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":17,"mapper":{"ca":"","qs":[],"url":"{{1.`webhook-15`}}","data":"{\n\"recordId\":\"{{1.recordId}}\",\n\"datasheetId\":\"{{1.datasheetId}}\",\n\"usedSiteKeywords\":\"{{ifempty(1.usedSiteKeywords; \"No keywords used for this site yet\")}}\",\n\"restrictedGlobalKeywords\":\"{{ifempty(1.restrictedGlobalKeywords; \"All keywords can be used\")}}\",\n\"siteCategories\":\"{{1.siteCategories}}\",\n\"siteInfo\":{{18.json}},\n\"count\":{{4.count}},\n\"NewKeywords\":{{21.json}},\n\"keywordSeedList\":\"{{5.result}}\",\n\"ds-1\":\"{{1.`ds-1`}}\",\n\"ds-6\":\"{{1.`ds-6`}}\",\n\"ds-9\":\"{{1.`ds-9`}}\",\n\"keyAitable\":\"{{1.keyAitable}}\",\n\"keyDFSEO\":\"{{1.keyDFSEO}}\",\n\"webhook-14\":\"{{1.`webhook-14`}}\",\n\"webhook-15\":\"{{1.`webhook-15`}}\",\n\"webhook-16\":\"{{1.`webhook-16`}}\"\n}","gzip":true,"method":"post","headers":[],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose"},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5703,"y":306,"name":"Review Keyword Map"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":true,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":300,"y":450}}}],"name":"02-2 - KW Research - Build Cluster","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}