Make Scripts/00 - ABC Cloning BAM - 01 KWR/02-3 - KW Research - Review.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"03 - KW Research - Review"}}},"designer":{"x":0,"y":450},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38822,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":5,"mapper":{"object":"{{1.siteInfo}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":600,"y":600,"name":"Site Info"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":6,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You assess if the provided [Keyword Cluster] are suitable for the given website. Then you either approve without edits, approve with small edits, or don't approve.\n\nYour assesment falls into 3 options.\n1 - \"yes\" the entire keyword cluster is usable as is and you do not edit anything.\n2 - \"yes\" the keyword cluster is usable but youo add small changes to the keyword list, such as removing a few keyords that are too generic or does not fit the category and site.\n3 - \"no\" the keyword cluster is not usable because it either needs large edits, with too many generic keywords, or the whole category of keywords does not allign with the sites core objective, and therefore the whole thing needs to be redone.\n\nYou output either a \"yes\" plus the keywords cluster, \"yes\" plus a slightly edited keywords cluster, or a \"no\" plus the reason why of the answer is \"no\" and what to change and focus on when redoing it.\n\nIt is OK to take option 2 and edit/change most of a category keywords if the majority of the other categories are good and can be used as is. Think 70/30. If the keyword cluster would be \"perfect\" if you edit/change 30% of the keywords, then take option 2 and make the updates yourself. If too many keywords are missing the mark, then take option 3.\n\nMake an objective assesment.\nWe do not want to have redundant keywords.\nSince each keyword will be converted into a full article, each selected keyword must hold it's own unique search intent. E.g. \"startup success\" and \"startup success factors\" should not both be selected. Here the action (option 2 - small modifications) should be to remove one of the keywords preserving the keyword with the most specific search intent. In this case \"startup success factors\" should be keept.\n\nExample of similar keywords but both have a unique search intent:\n\"startup growth strategies\" and \"startup success principles\" <-- Here we keep both Keywords as they each hold unique search intent.\n\nExample of bad keywords that are too generic: \"technology news\" \"tech industry trends\" \"emerging technologies\" etc.\nThese keywords are category keywords without specific search intent. All keywords will be turned into articles, and they keyword must contain a specific search intent to gain knowledge.\n\nWhen the keyword cluster includes too many generic and search intent duplicates, you should choose option 3 \"no\" and specify what to change to the Seed Keyword selection and the Keyword List selection.\n\nYour output is always formatted as JSON.\nYou output the JSON and nothing else.\n\nOutput example for yes option 1:\n{\n  \"Is KW Cluster Ok\": \"yes\",\n  \"What to change with KW Seed words\": \"Na\",\n  \"What to change with KW List\": \"Na\",\n  \"Categories\": [\n    {\n      \"Category\": \"success\",\n      \"Keywords\": [\n        \"startup growth strategies\",\n        \"startup leadership and success\"\n      ]\n    },\n    {\n      \"Category\": \"tech\",\n      \"Keywords\": [\n        \"computer vision technology\",\n        \"wearable tech trends\"\n      ]\n    }\n  ]\n}\n\n\nOutput example for yes option 2:\n{\n  \"Is KW Cluster Ok\": \"yes\",\n  \"What to change with KW Seed words\": \"Na\",\n  \"What to change with KW List\": \"Write a short description about what you changed in the keyword list\",\n  \"Categories\": [\n    {\n      \"Category\": \"success\",\n      \"Keywords\": [\n        \"startup growth strategies\",\n        \"startup leadership and success\"\n      ]\n    },\n    {\n      \"Category\": \"tech\",\n      \"Keywords\": [\n        \"computer vision technology\",\n        \"wearable tech trends\"\n      ]\n    }\n  ]\n}\n\n\nOutput example for no option 3:\n{\n  \"Is KW Cluster Ok\": \"no\",\n  \"What to change with KW Seed words\": \"Explain what type of seed keywords should be tried in order to yeild better results\",\n  \"What to change with KW List\": \"Explain what type of keywords should be selected and why in order to yeild better results\",\n  \"Categories\": \"Na\"\n}"},{"role":"user","content":"Please assess if the provided [Keyword Cluster] is suitable for the website.\n\nEvery single keyword will be used to create an article.\n\nYour assesment and output falls into 3 categories.\n1 - \"yes\" the entire keyword cluster is usable as is without any modifications.\n2 - \"yes\" the keyword cluster is usable but with small modifications.\n3 - \"no\" the keyword cluster is not suitable and will need to be redone.\n\nYour output is always formatted as JSON.\nYou output the JSON and nothing else.\n\n[Keyword Cluster]=\n{{1.NewKeywords}}\n\n[Website Info]=\n{{1.siteInfo}}"}],"temperature":"0.5","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":13,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":1200,"y":900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":900,"y":600,"name":"Review KW list"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":7,"mapper":{"json":"{{replace(replace(6.result; \"```json\"; emptystring); \"```\"; emptystring)}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":1200,"y":450},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":8,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":12,"filter":{"name":"yes","conditions":[[{"a":"{{7.`Is KW Cluster Ok`}}","b":"yes","o":"text:equal"}]]},"mapper":{"object":"{{6.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":1800,"y":300},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":11,"mapper":{"ca":"","qs":[],"url":"{{1.`webhook-16`}}","data":"{\n\"recordId\":\"{{1.recordId}}\",\n\"datasheetId\":\"{{1.datasheetId}}\",\n\"keywords\":{{12.json}},\n\"Seed KWs\":\"{{1.keywordSeedList}}\",\n\"ds-1\":\"{{1.`ds-1`}}\",\n\"ds-6\":\"{{1.`ds-6`}}\",\n\"ds-9\":\"{{1.`ds-9`}}\",\n\"keyAitable\":\"{{1.keyAitable}}\",\n\"keyDFSEO\":\"{{1.keyDFSEO}}\",\n\"webhook-14\":\"{{1.`webhook-14`}}\",\n\"webhook-15\":\"{{1.`webhook-15`}}\",\n\"webhook-16\":\"{{1.`webhook-16`}}\"\n}","gzip":true,"method":"post","headers":[],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose"},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2100,"y":300,"name":"Add KW Cluster to site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":true,"useNewZLibDeCompress":true}}]},{"flow":[{"id":14,"filter":{"name":"no","conditions":[[{"a":"{{7.`Is KW Cluster Ok`}}","b":"no","o":"text:equal"}]]},"mapper":{"object":"{{1.NewKeywords}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":1800,"y":600},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":10,"mapper":{"ca":"","qs":[],"url":"{{1.`webhook-14`}}","data":"{\n\"recordId\":\"{{1.recordId}}\",\n\"datasheetId\":\"{{1.datasheetId}}\",\n\"usedSiteKeywords\":\"{{ifempty(1.usedSiteKeywords; \"No keywords used for this site yet\")}}\",\n\"restrictedGlobalKeywords\":\"{{ifempty(1.restrictedGlobalKeywords; \"All keywords can be used\")}}\",\n\"siteCategories\":\"{{1.siteCategories}}\",\n\"siteInfo\":{{5.json}},\n\"lastKeywordSeedsWordsAttempt\":\"\",\n\"whatToChangeKWSeeds\":\"{{7.`What to change with KW Seed words`}}\",\n\"lastKeywordClusterAttempt\":{{14.json}},\n\"whatToChangeKWCluster\":\"{{7.`What to change with KW List`}}\",\n\"count\":{{(1.count + 1)}},\n\"ds-1\":\"{{1.`ds-1`}}\",\n\"ds-6\":\"{{1.`ds-6`}}\",\n\"ds-9\":\"{{1.`ds-9`}}\",\n\"keyAitable\":\"{{1.keyAitable}}\",\n\"keyDFSEO\":\"{{1.keyDFSEO}}\",\n\"webhook-14\":\"{{1.`webhook-14`}}\",\n\"webhook-15\":\"{{1.`webhook-15`}}\",\n\"webhook-16\":\"{{1.`webhook-16`}}\"\n}","gzip":true,"method":"post","headers":[],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose"},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2100,"y":600,"name":"Redo KW Cluster"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":true,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":1500,"y":450}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":450}}}],"name":"02-3 - KW Research - Review","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}