Make Scripts/00 - ABC Cloning BAM - 03 Blog/01 - Upload Articles - Check every 60min.json
{"flow":[{"id":1,"mapper":{"scope":"roundtrip","variables":[{"name":"AiTable Key","value":"<<<keyAitable>>>"},{"name":"Datasheet Sites","value":"<<<ds-2>>>"},{"name":"Datasheet Article","value":"<<<ds-7>>>"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null]}}},"designer":{"x":0,"y":300,"name":"Vars"},"interface":[{"name":"AiTable Key","type":"any","label":"AiTable Key"},{"name":"Datasheet Sites","type":"any","label":"Datasheet Sites"},{"name":"Datasheet Article","type":"any","label":"Datasheet Article"}]},"parameters":{}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":4,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`Datasheet Article`}}/records?filterByFormula={Status}=\"08 - Img Gen Started\"","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`AiTable Key`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":450,"name":"Get AiT Site Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":5,"mapper":{"array":"{{4.data.data.records}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":900,"y":450}},"parameters":{}},{"id":12,"mapper":{"value":"[{\"array\":[{\"value\":\"{{5.fields.img0[].url}}\"},{\"value\":\"{{5.fields.img1[].url}}\"},{\"value\":\"{{5.fields.img2[].url}}\"},{\"value\":\"{{5.fields.img3[].url}}\"},{\"value\":\"{{5.fields.img4[].url}}\"},{\"value\":\"{{5.fields.img5[].url}}\"},{\"value\":\"{{5.fields.img6[].url}}\"},{\"value\":\"{{5.fields.img7[].url}}\"},{\"value\":\"{{5.fields.img8[].url}}\"},{\"value\":\"{{5.fields.img9[].url}}\"},{\"value\":\"{{5.fields.img10[].url}}\"}]}]"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{},"designer":{"x":1200,"y":450,"name":"Get All Images"}},"parameters":{}},{"id":6,"mapper":{"json":"{{replace(12.value; \",{\"\"value\"\":\"\"\"\"}\"; emptystring)}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":1500,"y":450,"name":"Get All Images"},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":7,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":13,"filter":{"name":"Images not ok","conditions":[[{"a":"{{length(6.array)}}","b":"{{5.fields.`Img Count`}}","o":"number:notequal"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`Datasheet Article`}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{5.recordId}}\",\n            \"fields\": {\n                \"Status\": \"07 - Img Gen\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`AiTable Key`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2100,"y":300,"name":"Auto Create Img"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":14,"filter":{"name":"All images OK","conditions":[[{"a":"{{length(6.array)}}","b":"{{5.fields.`Img Count`}}","o":"number:equal"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`Datasheet Article`}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{5.recordId}}\",\n            \"fields\": {\n                \"Status\": \"09 - Article Upload\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`AiTable Key`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2100,"y":600,"name":"Publish Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":17,"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":2400,"y":600}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":1800,"y":450}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":300}}}],"name":"01 - Upload Articles - Check every 60min","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}