Make Scripts/00 - ABC Cloning BAM - 03 Blog/08 - Get SEO.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"ABC - BAM V1 - 01 - Get SEO"}}},"designer":{"x":0,"y":1350},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38828,"maxResults":1}},{"id":64,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":63,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"State\": \"In Progress\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":1200,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":50,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-2`}}/records?recordIds={{63.data.data.records[].fields.Site[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":1200,"name":"Get Site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":17,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are an SEO expert, helping to determine search intent and content information expectations for keywords."},{"role":"user","content":"Give a detailed description of the search intent and content expectations for the following Keyword: \"{{63.data.data.records[].fields.`Main Keyword`}}\"\nDo not use more than 100 words to describe the search intent and content expectations.\n\nFormat the output like this:\n[Search Intent]= \n[Content Expectations]= "}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":100,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":1500,"y":2400}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":1200,"y":1200,"name":"Search Intent"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":90,"mapper":{"step":"1","start":"1","repeats":"{{if(63.data.data.records[].fields.`Scrape YT` = 1; 1; 0)}}"},"module":"builtin:BasicRepeater","version":1,"metadata":{"expect":[{"name":"start","type":"number","label":"Initial value","required":true},{"name":"repeats","type":"number","label":"Repeats","required":true,"validate":{"max":10000,"min":0}},{"name":"step","type":"number","label":"Step","required":true}],"restore":{},"designer":{"x":1500,"y":1050}},"parameters":{}},{"id":91,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/serp/youtube/organic/live/advanced","data":"[{\"keyword\":\"{{63.data.data.records[].fields.`Main Keyword`}}\", \"location_code\":2840, \"language_code\":\"en\", \"os\":\"windows\", \"block_depth\":10}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1800,"y":1050,"name":"YT Search"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":92,"flags":{"groupBy":"youtube_video"},"mapper":{"data":"{{91.data}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"YT Search - Make a request [91]"},"target":{"label":"Custom"}}},"advanced":true,"designer":{"x":2100,"y":1050}},"parameters":{"feeder":91}},{"id":93,"mapper":{"array":"{{92.array[].data.tasks[].result[].items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array","editable":true}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":2400,"y":1050}},"parameters":{}},{"id":94,"mapper":{"value":"Video {{93.`__IMTINDEX__`}}\nID: {{93.video_id}}\nTitle: {{93.title}}\nDescription: {{93.description}}\nAge: {{93.publication_date}}\nDuration: {{93.duration_time_seconds}} seconds\nChannel Name: {{93.channel_name}}\n-----"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [93]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":2700,"y":1050},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":93,"rowSeparator":"\n"}},{"id":95,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are tasked with selecting one (1) Video ID that will fulfill the search intent for the Search Phrase.\nYou only output the Video ID and nothing else.\n\n[Search Phrase]= {{63.data.data.records[].fields.`Main Keyword`}}\n\n{{17.result}}"},{"role":"user","content":"Please select one (1) Video ID, from the Video List below. that will fulfill the search intent for the Search Phrase.\nOnly output the ID and nothing else.\n\nTake the video Title, Description, Age, Duration, and Channel Name into consideration.\n\nNewer videos (Age) have slightly higher priority.\nDuration should be assets in comparison to the search phrase. E.g. Complex topics are expected to have longer videos (above 600 seconds) and topics with simple answers are expected to be shorter videos (below 600 seconds).\nA channel name indicating topic authority or alignment with the search phrase and search intent has higher priority.\n \n[Video List]=\n{{94.text}}"}],"temperature":"0.4","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":101,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3300,"y":2100}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3000,"y":1050,"name":"Select YT Video"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":96,"mapper":{"value":"https://www.youtube.com/watch?v={{95.result}},"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Repeater [90]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":3300,"y":900,"name":"YT Video Link"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":90,"rowSeparator":""}},{"id":3,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/serp/google/organic/live/advanced","data":"[{\"keyword\":\"{{63.data.data.records[].fields.`Main Keyword`}}\", \"location_code\":{{50.data.data.records[].fields.location_code[]}}, \"language_code\":\"{{50.data.data.records[].fields.language_code[]}}\", \"device\":\"desktop\", \"os\":\"windows\", \"depth\":20}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":3600,"y":900,"name":"SERP"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":6,"mapper":{"json":"{{3.data}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":3900,"y":900,"name":"SERP Related + Also"},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":7,"mapper":{"value":"{{get(map(6.tasks[].result[].items; \"items\"; \"type\"; \"related_searches\"); 1)}}, {{join(map(get(map(6.tasks[].result[].items; \"items\"; \"type\"; \"people_also_ask\"); 1); \"title\"); \", \")}}, {{join(map(get(map(6.tasks[].result[].items; \"items\"; \"type\"; \"people_also_search\"); 1); \"title\"); \", \")}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text","multiline":true}],"restore":{"extra":{"feeder":{"label":"SERP Related + Also - Parse JSON [16]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":4200,"y":900,"name":"SERP Related + Also"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":6,"rowSeparator":""}},{"id":8,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live","data":"[{\"keyword\":\"{{63.data.data.records[].fields.`Main Keyword`}}\", \"location_code\":{{50.data.data.records[].fields.location_code[]}}, \"language_code\":\"{{50.data.data.records[].fields.language_code[]}}\", \"include_seed_keyword\":false, \"include_serp_info\":false, \"exact_match\":false, \"limit\":20, \"offset\":0}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":4500,"y":900,"name":"KW Suggestions"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":9,"mapper":{"value":"{{join(map(8.data.tasks[].result[].items; \"keyword\"); \", \")}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text","multiline":true}],"restore":{"extra":{"feeder":{"label":"Local - Make a request [88]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":4800,"y":900,"name":"keyword_suggestions"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":8,"rowSeparator":""}},{"id":106,"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live","data":"[{\"keywords\":[\"{{63.data.data.records[].fields.`Main Keyword`}}\"], \"location_code\":{{50.data.data.records[].fields.location_code[]}}, \"language_code\":\"{{50.data.data.records[].fields.language_code[]}}\", \"include_serp_info\":false, \"closely_variants\":false, \"ignore_synonyms\":false, \"include_clickstream_data\":false, \"limit\":500, \"filters\":[[\"keyword\", \"not_regex\", \"reddit\"], \"and\",[\"keyword_info.search_volume\", \">\",200]]}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5100,"y":900,"name":"keyword_ideas"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":107,"mapper":{"array":"{{106.data.tasks[].result[].items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":5400,"y":900}},"parameters":{}},{"id":108,"mapper":{"value":"{{107.keyword}} - {{107.keyword_info.search_volume}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [11]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":5700,"y":900,"name":"keyword_ideas"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":107,"rowSeparator":"\n"}},{"id":14,"mapper":{"value":"{{9.text}}, {{108.text}}"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{},"designer":{"x":6000,"y":900,"name":"Keywords"}},"parameters":{}},{"id":15,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are an expert in creating SEO keyword clusters that help achieve topical authority. You will use the language \"{{50.data.data.records[].fields.`Article Language`}}\" as your output language."},{"role":"user","content":"Write a new Keyword Cluster based on the Main Topic \"\". Use the comma-separated [Keyword List] below as inspiration.\nThe Keyword Cluster is intended to form the basis for an article around the Main Topic \"{{63.data.data.records[].fields.`Main Keyword`}}\", and must therefore include a broad and versatile list of topics to cover the Main Topic completely.\n\n\nThe Keyword Cluster must keep its focus on the Main Topic \"{{63.data.data.records[].fields.`Main Keyword`}}\" and must only include supporting keywords to the Main Topic.\nGroup together and rewrite keywords so they support the main search intent behind the keyword.\nMake up new related keywords in order to create a Keyword Cluster that can cover the Main Topic in full.\nOnly include 100 keywords for the complete Keyword Cluster.\nFormat the output as a comma-separated list including a number of how many times it would be reasonable that this keyword should be mentioned. If the number of mentions is above 10, then write 10+.\nHere is an example of ten words from a correctly formatted Keyword Cluster for the Main Topic \"is coffee good for you\":\nis coffee good for you 1-2, coffee 10+, drinking 3-10, black coffee 3-10, consumption 3-10, heart failure 1-2, decaf 1-2, world health organization 1-2, parkinsons disease 1-2, health conditions 1-2\n\nThe Keyword Cluster must never repeat the sub-strings of keywords.\nBad Example: AstroFlipping Program Analysis 1-2, AstroFlipping Real Estate Education 3-10, AstroFlipping Cost Evaluation 3-10, AstroFlipping Course Content 3-10\nGood Example: AstroFlipping Program Analysis 1-2, Real Estate Education 3-10, Cost Evaluation 3-10, Course Content 3-10\n\n[Keyword List]=\n{{14.value}}"}],"temperature":"0.5","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":102,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":6600,"y":1800}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":6300,"y":900,"name":"Keyword Cluster"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":19,"mapper":{"json":"{{3.data}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":6600,"y":750,"name":"Compeditors Location 1"},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":20,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to select three (3) URLs from the supplied list of URLs and output them in a comma-separated format.\nOutput Example: https://URL1.com,https://URL2.com,https://URL3.com\nYou only output a comma-separated URL list and nothing else."},{"role":"user","content":"Based on the below SERP URLs select the best three (3) URLs from blogs.\nDo not select non-blogging pages like Wiki, government, webshops, Amazon pages, etc.\nThe search term is \"{{63.data.data.records[].fields.`Main Keyword`}}\".\nWe are doing SEO research in the {{50.data.data.records[].fields.`Expert In`}} niche.\n\nThe URLs are in ranking order with the first URL being #1, the second URL #2 etc.\n\nURL List=\n{{join(map(19.tasks[].result[].items; \"url\"); \", \")}}"}],"temperature":"0.2","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":103,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":7200,"y":1500}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":6900,"y":750,"name":"Compeditor Selection Location 1"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":23,"mapper":{"array":"{{split(96.text + \",\" + 20.result; \",\")}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":7200,"y":600}},"parameters":{}},{"id":84,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":83,"filter":{"name":"Youtube","conditions":[[{"a":"{{23.value}}","b":"youtube.com","o":"text:contain"}]]},"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/serp/youtube/video_subtitles/live/advanced","data":"[{\"language_code\": \"en\", \"location_code\": 2840,        \"video_id\": \"{{get(split(23.value; \"watch?v=\"); 2)}}\"}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":7800,"y":150},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":82,"mapper":{"value":"{{join(map(83.data.tasks[].result[].items; \"text\"); space)}}"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text","multiline":true}],"restore":{},"designer":{"x":8100,"y":150,"name":"YT Transcript"}},"parameters":{}},{"id":85,"mapper":{"name":"Summary"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":8400,"y":150,"name":"Get Summay"},"interface":[{"name":"Summary","type":"any","label":"Summary"}]},"parameters":{}},{"id":86,"mapper":{"model":"gpt-4.1-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are an expert at summarizing text, and extracting specific and detailed information.\nYou always focus on extracting specific numbers, dates, relevant product or location names, quanteties, etc.\n\nYou never include the test writer or domains name. Never include the origin of the information.\n\nYou always summarize based on the search intent of the search phrase.\nThe summary will be used to create an article that fulfills the search intent in all possible ways.\nYou leave out information that is irrelevant to fulfilling the search intent.\n\nYou always output as plain text. Never use Markdown or HTML\n\n[Search Pharse]= {{63.data.data.records[].fields.`Main Keyword`}}\n{{17.result}}"},{"role":"user","content":"Summarize the [Test to Summarize] using a combination of extractive and abstractive summarization written in bulleted format of key takeaways. Write in full sentences. Start each new bullet with a hyphen -\nAlways include details such as specific numbers, capacities, prices, etc. while retaining accurate descriptions of what's good and bad and the reasons why.\nNever include CTA like joining a newsletter, or buying an affiliate product.\nNever reference author names.\nNever include links or shipping details\n\nAlways output as plain text. Never use Markdown or HTML"},{"role":"user","content":"[Text to Summarize]=\n{{82.value}}"}],"temperature":"0.5","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":87,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":9000,"y":300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4.1-mini (system)"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":8700,"y":150,"name":"Summary"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":88,"mapper":{"name":"Summary","scope":"roundtrip","value":"{{86.result}}\n{{85.Summary}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":9000,"y":0,"name":"Set Summary"},"interface":[{"name":"Summary","type":"any","label":"Summary"}]},"parameters":{}},{"id":89,"mapper":{"value":"End"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text","multiline":true}],"restore":{"extra":{"feeder":{"label":"Iterator [23]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":9300,"y":0,"name":"end","messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":23,"rowSeparator":"\n"}}]},{"flow":[{"id":109,"filter":{"name":"URL","conditions":[[{"a":"{{23.value}}","b":"youtube.com","o":"text:notcontain"}]]},"mapper":{"ca":"","qs":[],"url":"https://api.dataforseo.com/v3/on_page/content_parsing/live","data":"[{\n\"url\":\"{{23.value}}\",\n\"enable_javascript\":true,\n\"disable_cookie_popup\":true,\n\"enable_browser_rendering\":true,\n\"enable_xhr\":true,\n\"browser_preset\":\"desktop\",\n\"switch_pool\":true,\n\"ip_pool_for_scan\":\"us\"\n}]","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Basic {{1.keyDFSEO}}"},{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":7800,"y":900},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":110,"mapper":{"array":"{{109.data.tasks[].result[].items[].page_content.main_topic}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":8100,"y":900}},"parameters":{}},{"id":113,"mapper":{"value":"{{join(map(110.primary_content; \"text\"); newline)}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [110]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":8400,"y":900,"name":"Main Topic"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":110,"rowSeparator":"\n"}},{"id":35,"mapper":{"model":"gpt-4.1-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are tasked with writing Article Summaries based on the information from the [Website Scrape] and using the following format\n\nArticle Summary:\n[SERP Article Construction]= What it contains.\n[SERP Article Outline]= H2 + H3 outline - Never include H4 or below. Never include titles that are not relevant to the main topic \"{{63.data.data.records[].fields.`Main Keyword`}}\"\n\nYou always output as plain text. Never use Markdown or HTML"},{"role":"assistant","content":"Article Summary:\n[Article Construction]=\nListicle of best exercises, How-to-guide for training consistently, Information about how protein affects muscle gain.\n\n[SERP Article Outline]=\nH2 - Title\nH3 - Title\nH2 - Title\nH2 - Title"},{"role":"assistant","content":"[Website Scrape]=\n{{113.text}}"},{"role":"user","content":"Write a website summary based on the Website Scrape found below using the Article Summary Example from above.\nArticle Construction must only contain the 1 to 3 core elements of the article. Article Construction is meant to get a high-level overview of how the article is constructed.\nThe Website Scrape may have appended information such as comments or related articles, disregard this information.\n\nThe SERP Article Outline should include the H2-H3 titles relevant to \"{{63.data.data.records[].fields.`Main Keyword`}}\". There might be additional Titles from the Website Scrape that are irrelevant, such as menu items, footer titles or related articles. Do not include these.\n\nIf no information is available in the [Website Scrape] then just output n/a\nAlways output as plain text. Never use Markdown or HTML"}],"temperature":"0.6","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":36,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":9000,"y":1200}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4.1-mini (system)"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":8700,"y":900,"name":"Content"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":53,"mapper":{"name":"Summary"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":9000,"y":750},"interface":[{"name":"Summary","type":"any","label":"Summary"}]},"parameters":{}},{"id":37,"mapper":{"model":"gpt-4.1-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are an expert at summarizing text, and extracting specific and detailed information.\nYou always focus on extracting specific numbers, dates, relevant product or location names, quanteties, etc.\n\nYou never include the text author name or domains name. Never include the origin of the information.\n\nYou always summarize based on the search intent of the search phrase.\nThe summary will be used to create an article that fulfills the search intent in all possible ways.\nYou leave out information that is irrelevant to fulfilling the search intent.\n\nYou always output as plain text. Never use Markdown or HTML\n\n[Search Pharse]= \n{{63.data.data.records[].fields.`Main Keyword`}}\n{{17.result}}"},{"role":"user","content":"Summarize the [Text to Summarize] using a combination of extractive and abstractive summarization written in bulleted format of key takeaways. Write in full sentences. Start each new bullet with a hyphen -\nAlways include details such as specific numbers, capacities, prices, etc. while retaining accurate descriptions of what's good and bad and the reasons why.\nNever include CTA like joining a newsletter, or buying an affiliate product.\nNever reference author names.\nNever include links or shipping details\n\nAlways output as plain text. Never use Markdown or HTML\n\n[Text to Summarize]=\n{{113.text}}"}],"temperature":"0.5","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":38,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":9600,"y":900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4.1-mini (system)"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":9300,"y":750,"name":"Summary"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":54,"mapper":{"name":"Summary","scope":"roundtrip","value":"{{37.result}}\n{{53.Summary}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":9600,"y":600},"interface":[{"name":"Summary","type":"any","label":"Summary"}]},"parameters":{}},{"id":43,"mapper":{"value":"Competitor {{23.`__IMTINDEX__`}}\n[H1 Title]= \n{{35.result}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [23]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":9900,"y":600},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":23,"rowSeparator":"\n"}},{"id":56,"mapper":{"name":"Summary"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":10200,"y":600,"name":"Summary"},"interface":[{"name":"Summary","type":"any","label":"Summary"}]},"parameters":{}},{"id":57,"mapper":{"object":"{{17.choices[].message.content}}\n<<<<\n{{43.text}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":10500,"y":600,"name":"Main SEO Info"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":58,"mapper":{"object":"{{15.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":10800,"y":600,"name":"KW Cluster"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":59,"mapper":{"object":"{{7.text}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":11100,"y":600,"name":"SEO Questions"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":61,"mapper":{"object":"{{56.Summary}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":11400,"y":600,"name":"SEO Scrape Info"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":55,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"02 - SEO Done\",\n                \"State\": \"Ready\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"SEO Main Info\": {{57.json}},\n                \"SEO Keyword Cluster\": {{58.json}},\n                \"SEO Questions\":{{59.json}},\n                \"SEO Scraped Info\": {{61.json}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":11700,"y":600,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":105,"filter":{"name":"Auto On","conditions":[[{"a":"{{63.data.data.records[].fields.Auto}}","b":"true","o":"boolean:equal"}]]},"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":12000,"y":600}},"parameters":{}},{"id":104,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"03 - Generate Outline\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":12300,"y":600,"name":"Auto On"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":7500,"y":600}}}]},{"flow":[{"id":65,"filter":{"name":"Filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo5be5a599","version":1,"metadata":{"designer":{"x":600,"y":2700}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":1350}}}],"name":"08 - Get SEO","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}