Make Scripts/00 - ABC Cloning BAM - 03 Blog/09 - Outline w. Review.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"ABC - BAM V1 - 02 - Outline w. Review"}}},"designer":{"x":0,"y":750},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38829,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":5,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"State\": \"In Progress\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":600,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":6,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-2`}}/records?recordIds={{5.data.data.records[].fields.Site[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":600,"name":"Get Site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":8,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-8`}}/records?recordIds={{5.data.data.records[].fields.`Outline Template`[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":600,"name":"Get Outline Template"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":37,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records?pageSize=50&filterByFormula=AND({Increase DA}=1,{Inbound External Link}<5,NOT({Site}=\"{{6.data.data.records[].fields.`Site Name`}}\"),{Site Category}=\"{{6.data.data.records[].fields.`Category Name`[]}}\")","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1500,"y":600,"name":"Get Ext BAM Articles"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":39,"mapper":{"array":"{{37.data.data.records}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":1800,"y":600}},"parameters":{}},{"id":38,"mapper":{"value":"Article Topic: {{39.fields.`Main Keyword`}}\nURL: {{39.fields.`Post Link URL`}}\n"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [39]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":2100,"y":600,"name":"External Articles"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":39,"rowSeparator":"\n"}},{"id":43,"mapper":{"step":"1","start":"1","repeats":"{{6.data.data.records[].fields.`Internal Linking`}}"},"module":"builtin:BasicRepeater","version":1,"metadata":{"expect":[{"name":"start","type":"number","label":"Initial value","required":true},{"name":"repeats","type":"number","label":"Repeats","required":true,"validate":{"max":10000,"min":0}},{"name":"step","type":"number","label":"Step","required":true}],"restore":{},"designer":{"x":2400,"y":600}},"parameters":{}},{"id":40,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records?pageSize=50&filterByFormula=AND({Internal Linking}=1,{Inbound Internal Link}<3,{Site}=\"{{6.data.data.records[].fields.`Site Name`}}\",NOT({recordId}=\"{{1.recordId}}\"))&sort={\"field\": \"Inbound Internal Link\", \"order\": \"asc\"}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2700,"y":600,"name":"Get Int Link Articles"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":41,"mapper":{"array":"{{40.data.data.records}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":3000,"y":600}},"parameters":{}},{"id":42,"mapper":{"value":"Article Topic: {{41.fields.`Main Keyword`}}\nURL: {{41.fields.`Post Link URL`}}\n"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Repeater [43]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":3300,"y":600,"name":"Internal Articles"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":43,"rowSeparator":"\n"}},{"id":20,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are a professional blog post writer, and an expert within {{6.data.data.records[].fields.`Expert In`}}, tasked with writing a blog post outline for the search phrase \"{{5.data.data.records[].fields.`Main Keyword`}}\"\n\nYou always create content that fulfills the Search Intent and aligns with the Content Expectations.\n\nThe first section must always fulfill the search intent to the greatest degree posible. \nThe H1 title will be \"{{5.data.data.records[].fields.`Main Keyword`}}\", do not use this (or something closly related) as the first H2. There is a penalty for having H1 and H2 duplication.\nH2 titles must never include the wording / phrasing \"Search Intent\" \"Fulfilling Your Search\" \"Fulfilling Your Search Intent\" \"Fulfilling xyz Search\" \"Clear xyz Insights\" etc..\nBAD example: \"H2 - Fulfilling Your Search Intent: The Spiritual Meaning of the 2 Dollar Bill\"\nGoodt Example: \"H2 - Spiritual Overview Of The 2 Dollar Bill \"\n\nYou always create SEO-optimized descriptive and helpful titles.\n\nYou never add an introduction or a conclusion to the outline. This will be added later.\n\nYou always use the Outline Template and Outline Instructions to create an outline with highly detailed section description.\nEach section always contains information about the number of paragraphs, lists and number of list items, tables and table column names plus the number of table rows, and what external hyper links to include. Each section also contains what specific information that must be conveyed, along with information extracts from the SEO Scraped Info that should be used in that section. Use the Outline Example as a guide.\nLists and tables must not be present in every section. If tables and list usage are not defined in the Outline Template, then aim to add lists and tables to 30% of the sections. Lists and tables can be added in the middle or the end of a section.\n\nYou are given a list of possible hyperlinks to include. \nIf no hyperlinks are available in the list (empty list) then don't add any. NEVER invent a hyperlink, only use from the list if available.\nYou only select and include a hyperlinks if it's topic is relevant to the article. The list can include [Internal Links] and [External Links]. You may only use 2x [Internal Links] and 2x [External Links]. Meaning MAX 4 hyperlinks in total. If no hyperlinks are available in the list, or none of them are relevant to the article topic, then don't add any. \nYou always add the hyperlinks in the following format:\n[Hyperlinks]= \"Article Topic\" - URL | Short description of where/how to include it.\n\n{{get(split(5.data.data.records[].fields.`SEO Main Info`; \"<<<<\"); 1)}}\n\n\nEven though your system inputs are in \"en\" you will always use the language \"{{6.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{6.data.data.records[].fields.`Article Language`}}.\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{6.data.data.records[].fields.`Avoid Words`}}"},{"role":"assistant","content":"[Outline Template]=\n{{8.data.data.records[].fields.`Prompt Template`}}\n\n[Outline Instructions]=\n{{8.data.data.records[].fields.`Prompt Instructions`}}\n\n[Internal Links]=\n{{42.text}}\n\n[External Links]=\n{{38.text}}"},{"role":"assistant","content":"This is a generic example of an outline. Outlines can look very different depending on topic and search intent. Outline constructs are solely based on the best way to convey the information while keeping the article varied.\n\n[Outline Example]=\nH2 - The Essentials of Hunting Knives\n\n[Keyword Cluster]= best hunting knives 1-2, hunting knife uses 10+, types of hunting knives 10+\n[Word Count]= 200\n[Specific Scraped Knowledge]= - Hunting knives are essential tools for hunters, used for tasks like skinning, field dressing, and cutting. - High-quality knives are often made of stainless steel or carbon steel and come in various designs for specific uses.\n[Hyperlinks]= \"best knife sheath\" - https://theprepared.com/gear/reviews/knife-sheaths-accessories/ | Add as an anecdote about keeping the knife safe.\n\nThe section's goal is to discuss the general importance of hunting knives. This section should consist of 3 paragraphs and one list. Start by writing two small paragraphs. Then add a list (7 points) of the most acknowledged uses of hunting knives. End with a medium-sized paragraph.\n\nTalking points for paragraphs.\n\n- Mention their role in hunting, skinning, and field dressing.\n- Highlight the importance of durability and blade material.\n\nList:\n7 points of the most acknowledged uses of hunting knives.\n\n<<<<\n\nH2 - Types of Hunting Knives and Their Uses\n\n[Keyword Cluster]= fixed blade hunting knife 3-10, folding hunting knife 3-10, gut hook hunting knife 3-10, boning knife for hunting 3-10, caping knife 3-10, skinning knife 3-10\n[Word Count]= 350\n[Specific Scraped Knowledge]= Fixed blade knives are known for their strength and reliability. Folding knives offer portability. Gut hook knives are specialized for field dressing. Boning knives help in precise meat preparation. Caping knives are used for fine detail work. Skinning knives are optimized for removing hides.\n[Hyperlinks]= \"folding knife lock types\" - https://www.knifecenter.com/knife-buying-guides-expert-advice/article/folding-knife-lock-types | Add when talking about folding knives.\n\nThe section's goal is to provide a detailed explanation of the different types of hunting knives and their uses.\nStart with a super short paragraph about the importance of choosing the right hunting knife.\nThen create an H3 for each knife type following the outlined direction below.\nAt the end add a table (written in HTML) with columns |Knife Type| Use | to give a condensed overview of the section.\n\nH3 - Fixed Blade Hunting Knife\nDiscuss strength, reliability, and general uses.\nH3 - Folding Hunting Knife\nExplain portability and convenience.\nH3 - Gut Hook Hunting Knife\nDescribe field dressing and gutting uses.\nH3 - Boning Knife for Hunting\nExplore precise meat preparation.\nH3 - Caping Knife\nDetail fine detail work for trophy preparation.\nH3 - Skinning Knife\n\nHTML Table:\nColumns = |Knife Type|Use|\nRows = 6\n\n<<<<\n\nH2 - Historical and Cultural Significance of Hunting Knives\n\n[Keyword Cluster]= hunting knife history 1-2, hunting knife cultural significance 1-2, traditional hunting knives 1-2\n[Word Count]= 250\n[Specific Scraped Knowledge]= Historically, hunting knives have been used since ancient times for survival and hunting purposes. Different cultures have unique designs and traditions related to hunting knives. In many indigenous cultures, hunting knives are a symbol of skill and survival.\n\nThe section's goal is to convey the historical and cultural significance of hunting knives. This section should consist of 2 small and 2 medium paragraphs. In the order of small, medium, small, medium.\n\nTalking points for paragraphs.\n\n- Discuss the historical uses of hunting knives across different eras.\n- Mention their significance in Native American, Scandinavian, and African cultures.\n- Provide examples of how hunting knives are used in cultural rituals and traditions.\n\n<<<<\netc."},{"role":"user","content":"Create an outline for an article that follows the [Outline Template] and [Outline Instructions]. Use the [Outline Example] as a reference.\n\nAlways create an H2 title for each section. All H2 titles must include the Main Keyword, part of the Main Keyword, or a strong reference to the Main Keyword insuring that each H2 title (on it's own) makes the reader think of the Main Keywords topic.\n\nThe first section must always fulfill the search intent.\n\nThe main keyword is: {{5.data.data.records[].fields.`Main Keyword`}}.\n\nAlways take into consideration the [SEO Keyword Cluster], [SEO Questions], and the following article bias: \"{{5.data.data.records[].fields.`Article Bias`}}\".\n\nOnly create H2 titles for main sections.\nSub-sections are H3.\n\nThe H1 title will be \"{{5.data.data.records[].fields.`Main Keyword`}}\", do not use this as the first H2. There is a penalty for having H1 and H2 duplication.\nH2 titles must never include \"Search Intent\" \"Fulfilling Your Search\" \"Fulfilling Your Search Intent\" \"Fulfilling xyz Search\" \"Clear xyz Insights\" etc..\nBAD example: \"H2 - Fulfilling Your Search Intent: The Spiritual Meaning of the 2 Dollar Bill\"\nGoodt Example: \"H2 - Spiritual Overview Of The 2 Dollar Bill \"\n\nFormat: Use the following chars <<<< as a separator mark between sections.\nDon't write the sections, only the outline.\nAdd a Keyword Cluster to each section based on [SEO Keyword Cluster], Suggested mentions for section Keyword Clusters should be reduced so the sum of all section Suggested mentions aligns with [SEO Keyword Cluster]. Generate a title for each section and add a very specific [Word Count] to each section.\nWord count should never exceed 350 words, optimal range is between 150 and 300.\nExtract suited specific knowledge from the [SEO Scraped Info] and add it to each of the sections [Specific Scraped Knowledge]. It is ok to summarize as long as all details, numbers, facts, etc. are retained.\n\nFormat like this:\n\n\nH2 - Section title\n\n[Keyword Cluster]= \n[Word Count]= \n[Specific Scraped Knowledge]=\n[Hyperlinks]=\n\nThe section's goal is to...\n(Use the [Outline Example] as a format guide. Ample information is required)\n\n<<<<\n\nH2 - Section title\n\n[Keyword Cluster]= \n[Word Count]= \n[Specific Scraped Knowledge]=\n[Hyperlinks]=\n\nThe section's goal is to...\n(Use the [Outline Example] as a format guide. Ample information is required)\n\nEtc.\n\nIf no hyperlinks are to be added to the section then just write [Hyperlinks]= na\n\nNever add an introduction or a conclusion to the outline.\n\nOnly output the outline and nothing else.\n\n[Main Keyword]= {{5.data.data.records[].fields.`Main Keyword`}}\n\n[SEO Keyword Cluster]= Format: Keyword + Suggested mentions in the blog post. \n{{5.data.data.records[].fields.`SEO Keyword Cluster`}}\n\n[SEO Main Info]= \n{{5.data.data.records[].fields.`SEO Main Info`}}\n\n[SEO Scraped Info]= \n{{5.data.data.records[].fields.`SEO Scraped Info`}}"}],"max_tokens":"0","temperature":"0.7","n_completions":"1","response_format":"text","reasoning_effort":"high"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":21,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3900,"y":1200}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"High"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3600,"y":600,"name":"Outline Generator"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":22,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is reviewing an article outline and objectively determining if the outline will create redundant sections when the full article is written.\nYou also review if the first section fulfills the search intent to the greatest degree possible.\nIt's the priority to fulfill search intent fast. Don't Bury the Lede.\n\nYou always output in the following template:\n\n[\n    {\n        \"Is Redundant\": \"yes / no\",\n        \"What to change\": \"Write what to change with a 200-word detailed description / Nothing\"\n    }\n]\n\nThe \"Is Redundant\" should either be \"yes\" or \"no\". If \"yes\" then output what to change with a 200-word detailed description in the \"What to change\". If \"no\" then output \"Nothing\" in the \"What to change\".\n\nYou only output the filled template and nothing else.\nYou NEVER add a JSON wrapper."},{"role":"user","content":"Review this article outline and objectively determine if the outline will create redundant sections when the full article is written. Also review is the first section fulfills the search intent to the greatest degree possible.\nIt's the priority to fulfill search intent fast. Don't Bury the Lede.\n\nYou always output in the following template:\n\n[\n    {\n        \"Is Redundant\": \"yes / no\",\n        \"What to change\": \"Write what to change with a 200-word detailed description / Nothing\"\n    }\n]\n\n\n{{get(split(5.data.data.records[].fields.`SEO Main Info`; \"<<<<\"); 1)}}\n\n[Article Outline]=\n{{20.result}}"}],"temperature":"0.3","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":23,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":4200,"y":900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3900,"y":450,"name":"Outline Review"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":24,"mapper":{"json":"{{replace(replace(22.result; \"```json\"; emptystring); \"```\"; emptystring)}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":4200,"y":300},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":25,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":26,"filter":{"name":"Re-Write","conditions":[[{"a":"{{24.`Is Redundant`}}","b":"yes","o":"text:equal"}]]},"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You are a professional blog post writer, and an expert within {{6.data.data.records[].fields.`Expert In`}}, tasked with updating the [Current Outline] based on review comments from an editor.\n\nYou only update what is mentioned in the Editors Review Comments.\n\nYou never add an introduction or a conclusion to the outline. Even if the editor says that in the review comment.\n\nThe first section must always fulfill the search intent to the greatest degree posible. \n\nThe H1 title will be \"{{5.data.data.records[].fields.`Main Keyword`}}\", do not use this (or something closly related) as the first H2. There is a penalty for having H1 and H2 duplication.\nH2 titles must never include \"Search Intent\" \"Fulfilling Your Search\" \"Fulfilling Your Search Intent\" \"Fulfilling Spiritual Search\" \"Clear Spiritual Insights\" etc..\nBAD example: \"H2 - Fulfilling Your Search Intent: The Spiritual Meaning of the 2 Dollar Bill\"\nGoodt Example: \"H2 - Spiritual Overview Of The 2 Dollar Bill \"\n\nYou use the Outline Template and Outline Instructions as guides together with the [Editors Review Comments] to update the given outline.\n\nEach section always contains information about the number of paragraphs, lists and number of list items, tables and table column names plus the number of table rows and what external hyper links to include. Each section also contains what specific information that must be conveyed, along with information extracts from the SEO Scraped Info that should be used in that section. Use the Outline Example as a guide.\n\nYou are given a list of possible hyperlinks to include. \nIf no hyperlinks are available in the list (empty list) then don't add any. NEVER invent a hyperlink, only use from the list if available.\nYou only select and include a hyperlinks if it's topic is relevant to the article. The list can include [Internal Links] and [External Links]. You may only use 2x [Internal Links] and 2x [External Links]. Meaning MAX 4 hyperlinks in total. If no hyperlinks are available in the list, or none of them are relevant to the article topic, then don't add any. \nYou always add the hyperlinks in the following format:\n[Hyperlinks]= \"Article Topic\" - URL | Short description of where/how to include it.\n\n\nEven though your system inputs are in \"en\" you will always use the language \"{{6.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{6.data.data.records[].fields.`Article Language`}}.\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{6.data.data.records[].fields.`Avoid Words`}}"},{"role":"assistant","content":"[Outline Template]=\n{{8.data.data.records[].fields.`Prompt Template`}}\n\n[Outline Instructions]=\n{{8.data.data.records[].fields.`Prompt Instructions`}}\n\n[Internal Links]=\n{{42.text}}\n\n[External Links]=\n{{38.text}}"},{"role":"assistant","content":"This is a generic example of an outline. Outlines can look very different depending on topic and search intent. Outline constructs are solely based on the best way to convey the information while keeping the article varied.\n\n[Outline Example]=\nH2 - The Essentials of Hunting Knives\n\n[Keyword Cluster]= best hunting knives 1-2, hunting knife uses 10+, types of hunting knives 10+\n[Word Count]= 200\n[Specific Scraped Knowledge]= - Hunting knives are essential tools for hunters, used for tasks like skinning, field dressing, and cutting. - High-quality knives are often made of stainless steel or carbon steel and come in various designs for specific uses.\n[Hyperlinks]= \"best knife sheath\" - https://theprepared.com/gear/reviews/knife-sheaths-accessories/ | Add as an anecdote about keeping the knife safe.\n\nThe section's goal is to discuss the general importance of hunting knives. This section should consist of 3 paragraphs and one list. Start by writing two small paragraphs. Then add a list (7 points) of the most acknowledged uses of hunting knives. End with a medium-sized paragraph.\n\nTalking points for paragraphs.\n\n- Mention their role in hunting, skinning, and field dressing.\n- Highlight the importance of durability and blade material.\n\nList:\n7 points of the most acknowledged uses of hunting knives.\n\n<<<<\n\nH2 - Types of Hunting Knives and Their Uses\n\n[Keyword Cluster]= fixed blade hunting knife 3-10, folding hunting knife 3-10, gut hook hunting knife 3-10, boning knife for hunting 3-10, caping knife 3-10, skinning knife 3-10\n[Word Count]= 350\n[Specific Scraped Knowledge]= Fixed blade knives are known for their strength and reliability. Folding knives offer portability. Gut hook knives are specialized for field dressing. Boning knives help in precise meat preparation. Caping knives are used for fine detail work. Skinning knives are optimized for removing hides.\n[Hyperlinks]= \"folding knife lock types\" - https://www.knifecenter.com/knife-buying-guides-expert-advice/article/folding-knife-lock-types | Add when talking about folding knives.\n\nThe section's goal is to provide a detailed explanation of the different types of hunting knives and their uses.\nStart with a super short paragraph about the importance of choosing the right hunting knife.\nThen create an H3 for each knife type following the outlined direction below.\nAt the end add a table (written in HTML) with columns |Knife Type| Use | to give a condensed overview of the section.\n\nH3 - Fixed Blade Hunting Knife\nDiscuss strength, reliability, and general uses.\nH3 - Folding Hunting Knife\nExplain portability and convenience.\nH3 - Gut Hook Hunting Knife\nDescribe field dressing and gutting uses.\nH3 - Boning Knife for Hunting\nExplore precise meat preparation.\nH3 - Caping Knife\nDetail fine detail work for trophy preparation.\nH3 - Skinning Knife\n\nHTML Table:\nColumns = |Knife Type|Use|\nRows = 6\n\n<<<<\n\nH2 - Historical and Cultural Significance of Hunting Knives\n\n[Keyword Cluster]= hunting knife history 1-2, hunting knife cultural significance 1-2, traditional hunting knives 1-2\n[Word Count]= 250\n[Specific Scraped Knowledge]= Historically, hunting knives have been used since ancient times for survival and hunting purposes. Different cultures have unique designs and traditions related to hunting knives. In many indigenous cultures, hunting knives are a symbol of skill and survival.\n\nThe section's goal is to convey the historical and cultural significance of hunting knives. This section should consist of 2 small and 2 medium paragraphs. In the order of small, medium, small, medium.\n\nTalking points for paragraphs.\n\n- Discuss the historical uses of hunting knives across different eras.\n- Mention their significance in Native American, Scandinavian, and African cultures.\n- Provide examples of how hunting knives are used in cultural rituals and traditions.\n\n<<<<\netc."},{"role":"user","content":"Update the [Current Outline] based on the [Editors Review Comments].\n\nOnly update what is mentioned in the Editors Review Comments.\n\nThe H1 title will be \"{{5.data.data.records[].fields.`Main Keyword`}}\", do not use this (or something closly related) as the first H2. There is a penalty for having H1 and H2 duplication.\nH2 titles must never include \"Search Intent\" \"Fulfilling Your Search\" \"Fulfilling Your Search Intent\" \"Fulfilling Spiritual Search\" \"Clear Spiritual Insights\" etc..\nBAD example: \"H2 - Fulfilling Your Search Intent: The Spiritual Meaning of the 2 Dollar Bill\"\nGoodt Example: \"H2 - Spiritual Overview Of The 2 Dollar Bill \"\n\nFormat: Use the following chars <<<< as a separator mark between sections.\nDon't write the sections, only the outline.\n\nFormat like this:\n\n\nH2 - Section title\n\n[Keyword Cluster]= \n[Word Count]= \n[Specific Scraped Knowledge]=\n[Hyperlinks]=\n\nThe section's goal is to...\n(Use the [Outline Example] as a format guide. Ample information is required)\n\n<<<<\n\nH2 - Section title\n\n[Keyword Cluster]= \n[Word Count]= \n[Specific Scraped Knowledge]=\n[Hyperlinks]=\n\nThe section's goal is to...\n(Use the [Outline Example] as a format guide. Ample information is required)\n\nEtc.\n\nIf no hyperlinks are to be added to the section then just write [Hyperlinks]= na\n\nNever add an introduction or a conclusion to the outline.\n\nOnly output the outline and nothing else.\n\n[Editors Review Comments]=\n{{24.`What to change`}}\n\n[Current Outline]=\n{{20.result}}"}],"temperature":"0.7","n_completions":"1","response_format":"text","reasoning_effort":"high"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":27,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":5100,"y":300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"Assistant"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"High"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":4800,"y":150,"name":"Re-Write Outline"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":28,"mapper":{"object":"{{26.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":5100,"y":0,"name":"Outline"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":29,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"04 - Outline Done\",\n                \"State\": \"Ready\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"Outline\": {{28.json}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5400,"y":0,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":30,"filter":{"name":"Auto On","conditions":[[{"a":"{{5.data.data.records[].fields.Auto}}","b":"true","o":"boolean:equal"}]]},"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":5700,"y":0}},"parameters":{}},{"id":31,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"05 - Generate Article\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":6000,"y":0,"name":"Auto On"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":32,"filter":{"name":"No Re-Write","conditions":[[{"a":"{{24.`Is Redundant`}}","b":"no","o":"text:equal"}]]},"mapper":{"object":"{{20.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":4800,"y":600,"name":"Outline"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":33,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"04 - Outline Done\",\n                \"State\": \"Ready\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"Outline\": {{32.json}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5100,"y":600,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":34,"filter":{"name":"Auto On","conditions":[[{"a":"{{5.data.data.records[].fields.Auto}}","b":"true","o":"boolean:equal"}]]},"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":5400,"y":600}},"parameters":{}},{"id":35,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"05 - Generate Article\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5700,"y":600,"name":"Auto On"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":4500,"y":300}}}]},{"flow":[{"id":7,"filter":{"name":"Filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo5be5a599","version":1,"metadata":{"designer":{"x":600,"y":1500}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":750}}}],"name":"09 - Outline w. Review","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}