Make Scripts/00 - ABC Cloning BAM - 03 Blog/10 - Article Writer w. review.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"ABC - BAM V1 - 03 - Article Writer w. review"}}},"designer":{"x":0,"y":2100},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38830,"maxResults":1}},{"id":331,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":327,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records?recordIds={{1.recordId}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":1950,"name":"Get Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":328,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"State\": \"In Progress\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":1950,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":329,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-2`}}/records?recordIds={{327.data.data.records[].fields.Site[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":1950,"name":"Get Site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":330,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-8`}}/records?recordIds={{327.data.data.records[].fields.`Title Template`[]}},{{327.data.data.records[].fields.`Intro Template`[]}},{{327.data.data.records[].fields.`Conclusion Template`[]}},{{327.data.data.records[].fields.`Excerpt Template`[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1500,"y":1950,"name":"Get Prompt Templates"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":32,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"You create simple and short titles for articles.\nThe title always include the [Keyword]. When possible the keyword must be written exactly as is.\n\nAlways follow these instructions\n{{330.data.data.records[1].fields.`Prompt Template`}}\n\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou never use any of the words from the Avoid Words List.\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Create a title for the below using the instructions.\nOnly output the Title and nothing else.\n\n[Keyword]= {{327.data.data.records[].fields.`Main Keyword`}}\n[Search Intent]= {{first(split(327.data.data.records[].fields.`SEO Main Info`; \"<<<<\"))}}","imageDetail":"auto"}],"temperature":"0.7","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":182,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2100,"y":3900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":1800,"y":1950,"name":"SEO Title"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":34,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are an expert writer.\nYou follow instructions\nYou always lead with the most important information first.\nYou never add a title to the text output.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou always follow the Tone-of-Voice and Writing Style Guide.\n\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}","imageDetail":"auto"},{"role":"user","content":"- {{329.data.data.records[].fields.Avatar}}","imageDetail":"auto"},{"role":"user","content":"Please write a conclusion for an article that is based on the Blog post outline below.\n\n{{330.data.data.records[3].fields.`Prompt Template`}}\n\nUse the primary keyword {{327.data.data.records[].fields.`Main Keyword`}} within the ending paragraph.\n\n\nBlog post outline= {{327.data.data.records[].fields.Outline}}","imageDetail":"auto"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":334,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2400,"y":3600}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":2100,"y":1800,"name":"Conclusion"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":71,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are an expert writer tasked with FAQs for articles.\nYou always write concise FAQs.\nYou always lead with the most important information first.\nYou never answer the same question twice. Combine similar questions into one Q&A.\nYou always output in Markdown format without a Markdown wrapper.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou always follow the Tone-of-Voice and Writing Style Guide.\n\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Please write an FAQ based on the People Also Ask and Related Questions section below. If no questions are presented in the Also Ask and Related Question, then use the Article Outline to come up with relevant FAQ items. \n\nPeople Also Ask and Related Questions has priority.\n\nStart all answers in an NLP friendly way by rewording the question into the answer. Example:\n\"Q: What does angel number 505 signify?\nA: The angel number 505 signifies major life...\"\n\"Q: How does 505 impact personal relationships?\nA: The angel number 505 impact a personal relationships by...\"\n\nDo not end answers with ... Write a full answer.\n\nFormat - \"Q: [Question]\" followed by \"A: [Answer]\" on a new line. Keep answers concise (20-40 words).\n\nFor questions use H3 tags, for answers, only use paragraphs.\n\nAlways output in markdown format without Markdown wrapper.\n\nMake the answers informative and useful sentences. Always prioritize 'ready-to-use', benefit-driven answers.\n\n[People Also Ask and Related Questions]=\n{{327.data.data.records[].fields.`SEO Questions`}}\n\n[Article Outline]=\n{{327.data.data.records[].fields.Outline}}"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":144,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2700,"y":3300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":2400,"y":1650,"name":"FAQ"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":372,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"Please convert the below FAQ into simple HTML including FAQ schema.\nNever include an HTML wrapper. The output will be embedded into an excising page.\n\n\n{{71.result}}"}],"temperature":"0.2","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":373,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3000,"y":3000}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":2700,"y":1500,"name":"FAQ HTML Schema"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":36,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are an expert Excerpt writer for blog posts.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"{{330.data.data.records[4].fields.`Prompt Template`}}\n\nThe excerpt must be based on the main keyword \"{{327.data.data.records[].fields.`Main Keyword`}}\", and Blog Outline \n\nDo not use quotation marks or markup tags of any sort.\nOutput plain text\n\n[Blog Outline]=\n{{327.data.data.records[].fields.Outline}}"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":335,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3300,"y":2700}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3000,"y":1350,"name":"Excerpt"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":20,"mapper":{"array":"{{split(327.data.data.records[].fields.Outline; \"<<<<\")}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":3300,"y":1200}},"parameters":{}},{"id":344,"mapper":{"name":"ArticleSoFar"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":3600,"y":1200},"interface":[{"name":"ArticleSoFar","type":"any","label":"ArticleSoFar"}]},"parameters":{}},{"id":369,"mapper":{},"module":"util:FunctionIncrement","version":1,"metadata":{"restore":{"parameters":{"reset":{"label":"After one scenario run"}}},"designer":{"x":3900,"y":1200},"parameters":[{"name":"reset","type":"select","label":"Reset a value","required":true,"validate":{"enum":["run","execution","scenario"]}}]},"parameters":{"reset":"execution"}},{"id":23,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are an engaging article writer and an expert within {{329.data.data.records[].fields.`Expert In`}}, tasked with writing 1 article section (out of {{20.`__IMTLENGTH__`}}).\n\nYou always write the most important information first.\nYou never add introductions or conclusions.\n\nYou always write tables in simple HTML without HTML wrapper, with a border of 1px even though the rest of the output is in Markdown.\nExample:\n<table border=\"1\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Column 1</th>\n    <th>Column 2</th>\n  </tr>\n  <tr>\n    <td>Row 1, Column 1</td>\n    <td>Row 1, Column 2</td>\n  </tr>\n  <tr>\n    <td>Row 2, Column 1</td>\n    <td>Row 2, Column 2</td>\n  </tr>\n</table>\n\n\nYou always add hyperlinks that are explicitly stated in the Section Outline.\nAlways add hyperlinks like this: [Keyword](URL)\nExample:\n[Hyperlinks]= \"how to use Make.com\" - https://url.com/?p=365\nAdd --> [how to use Make.com](https://url.com/?p=365)\nAlways incoorporate the keyword in a natural conversational way (when possible). Example: In this guide, [how to use Make.com](https://url.com/?p=365), you can dive deeper into...\n\nThe [Section Outline] contains information about how this section must be structured, and what information to include. \nYou must ALWAYS follow the instructions outlined in the [Section Outline] and construct the section as instructed.\n\nLists must always be formatted in Markdown. Tables in simple HTML without HTML wrapper.\n\nEnd all <li> functions and </ol> functions before the final paragraph of the section.\n\nYou always use the [Article Written So Far] text to ensure you do not restate information or create redundant phrases that have already been included.\n- Avoid repetition of information, stories, or points, especially if contextually similar.\n\n\nEven though your system inputs are in \"en\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou always follow the Tone-of-Voice and Writing Style Guide.\nYou always structure and break up paragrphs with double line breaks.\n\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"[Review Summary]=\n{{327.data.data.records[].fields.`SEO Scraped Info`}}\n\n[Complete article outline for reference]=\n{{327.data.data.records[].fields.Outline}}\n\n[Article Written So Far]=\n{{344.ArticleSoFar}}"},{"role":"user","content":"Please write one section for an article about {{327.data.data.records[].fields.`Main Keyword`}}, titled {{32.choices[].message.content}}.\n\nNever add an intro or greetings.\nNever add a conclusion or summary at the end of the section.\nUse the Section Outline, Keyword Cluster, Question Cluster, and Review Summary to write the section.\nNever add external links, unless explicitly stated in the Section Outline.\n\nUse Markdown to format the text.\n\nStart the section by writing the section title in H2.\nDo not write \"H2\" or \"H3\", format the title correctly using Markdown.\n\n\nUse the instructed word count found the in Section Outline.\n\nDo not bold or italicize any keywords. Do not use H4 headlines.\n\n\n[Section Outline]=\n{{20.value}}"}],"temperature":"0.7","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":142,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":4500,"y":2400}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":4200,"y":1200,"name":"Write Blog"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":358,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to review a [New Article Section] and objectively determine if the section is redundant based on what has already been written in the [Article Written So Far].\n\n\nYou always output in the following template:\n\n[\n    {\n        \"Is Redundant\": \"yes / no\",\n        \"What to change\": \"Write what to change with a 200-word detailed description / Nothing\"\n    }\n]\n\nThe \"Is Redundant\" should either be \"yes\" or \"no\". If \"yes\" then output what to change with a 1-200-word detailed description in the \"What to change\". If \"no\" then output \"Nothing\" in the \"What to change\".\n\nYou only output the filled template and nothing else.\nYou NEVER add a JSON wrapper."},{"role":"user","content":"Review the [New Article Section] and objectively determine if the section is redundant based on what has already been written in the [Article Written So Far]\n\nYou always output in the following template:\n\n[\n    {\n        \"Is Redundant\": \"yes / no\",\n        \"What to change\": \"Write what to change with a 200-word detailed description / Nothing\"\n    }\n]\n\n\n[New Article Section]=\n{{23.result}}\n\n[Article Written So Far]=\n{{ifempty(344.ArticleSoFar; \"Nothing is written yet\")}}\n"}],"temperature":"0.3","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":359,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":4800,"y":2100}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":4500,"y":1050,"name":"Section Review"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":360,"mapper":{"json":"{{replace(replace(358.result; \"```json\"; emptystring); \"```\"; emptystring)}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":4800,"y":900},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":361,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":362,"filter":{"name":"Re-Write","conditions":[[{"a":"{{360.`Is Redundant`}}","b":"yes","o":"text:equal"}]]},"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are a fun and engaging article writer and an expert within {{329.data.data.records[].fields.`Expert In`}}, tasked with updating the [Current Article Section] based on review comments from an editor.\n\nYou only update what is mentioned in the Editors Review Comments.\n\nYou never add fluff.\nYou always write the most important information first.\nYou never add introductions or conclusions.\n\nAdd small snippets of writing examples. e.g. when saying \"Start with a surprising fact\" then finish like this \"Start with a surprising fact - \"Before becoming a world-renowned scientist, Marie Curie used to carry test tubes of radioactive material in her pockets—unaware of the dangers that would later shape her legacy.\"\"\n\nYou always write tables in simple HTML without HTML wrapper, with a border of 1px even though the rest of the output is in Markdown.\n\nExample:\n<table border=\"1\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Column 1</th>\n    <th>Column 2</th>\n  </tr>\n  <tr>\n    <td>Row 1, Column 1</td>\n    <td>Row 1, Column 2</td>\n  </tr>\n  <tr>\n    <td>Row 2, Column 1</td>\n    <td>Row 2, Column 2</td>\n  </tr>\n</table>\n\n\nYou never add external links, except for links that are explicitly stated in the Section Outline.\n\nLists must always be formatted in Markdown.\n\nEnd all <li> functions and </ol> functions before the final paragraph of the section.\n\n\nEven though your system inputs are in \"en\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou always follow the Tone-of-Voice and Writing Style Guide.\nYou always structure and break up paragrphs with double line breaks.\n\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Update the [Current Article Section] based on the [Editors Review Comments].\n\nOnly update what is mentioned in the Editors Review Comments.\n\nNever add an intro or greetings.\nNever add a conclusion or summary at the end of the section.\n\nUse the [Editors Review Comments] to re-write the [Current Article Section]. The [Section Outline] is only for reference and [Editors Review Comments] is always more important than the section outline.\n\nNever add external links, unless explicitly stated in the Section Outline.\n\nUse Markdown to format the text. But always write tables in simple HTML without HTML wrapper, with a border of 1px even though the rest of the output is in Markdown.\n\nStart the section by writing the section title in H2.\nDo not write \"H2\" or \"H3\", format the title correctly using Markdown.\n\nDo not bold or italicize any keywords. Do not use H4 headlines.\n\n\n[Editors Review Comments]=\n{{360.`What to change`}}\n\n[Current Article Section]=\n{{23.result}}\n\n[Section Outline]=\n{{20.value}}"}],"temperature":"0.7","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":363,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":5700,"y":600}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":5400,"y":300,"name":"Re-Write Section"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":374,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are tasked with re-writing the provided [Text] by strictly following the [New Writing Style Guide]. We want the text to feel more human. Use the [100% Human text - Use for reference].\nDo not think of this as a simple re-write. Reconstruct every sentence to follow the New Writing Style Guide. The core information is what matters.\nOnly output the new text and nothing else.\n\n\n------\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nTRANSLATION FUNDAMENTALS\n- Translate into natural, conversational {{329.data.data.records[].fields.`Article Language`}} that preserves the original voice and impact\n- Focus on meaning over literal translation, prioritizing how {{329.data.data.records[].fields.`Article Language`}}s communicate\n\nCULTURAL & LINGUISTIC ADAPTATION\n- Replace English idioms and metaphors with {{329.data.data.records[].fields.`Article Language`}} equivalents that convey the same meaning.\n- Adapt cultural references to resonate specifically with {{329.data.data.records[].fields.`Article Language`}}s\n- Preserve humor by adapting jokes to {{329.data.data.records[].fields.`Article Language`}} sensibilities\n\nTECHNICAL LANGUAGE GUIDELINES\n- Use established {{329.data.data.records[].fields.`Article Language`}} terms where they exist.\n- Maintain English terms with proper {{329.data.data.records[].fields.`Article Language`}} context where they're commonly used untranslated in {{329.data.data.records[].fields.`Article Language`}} business\n- Add brief clarifications for specialized terms when helpful for {{329.data.data.records[].fields.`Article Language`}} audience\n- Use authentic {{329.data.data.records[].fields.`Article Language`}} expressions.\n- Preserve industry-specific jargon with appropriate {{329.data.data.records[].fields.`Article Language`}} equivalents\n\nYour goal is creating content that feels natively written in {{329.data.data.records[].fields.`Article Language`}} by a knowledgeable professional - preserving the viral quality and insights while being linguistically and culturally authentic for {{329.data.data.records[].fields.`Article Language`}} readers.\n\nAlways include and output the initial H2 title.\nAlways include and output hyperlinks as original written.\nOnly output the re-written text (including the initial H2 title, hyperlinks, tables, lists etc.) and nothing else.\nInitial H2 title must not be re-written.\n\nOutput in Markdown without a Markdown wrapper (tables must be HTML).\n\nYou always write tables in simple HTML without HTML wrapper, with a border of 1px even though the rest of the output is in Markdown.\nExample:\n<table border=\"1\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Column 1</th>\n    <th>Column 2</th>\n  </tr>\n  <tr>\n    <td>Row 1, Column 1</td>\n    <td>Row 1, Column 2</td>\n  </tr>\n  <tr>\n    <td>Row 2, Column 1</td>\n    <td>Row 2, Column 2</td>\n  </tr>\n</table>\n\n[New Writing Style Guide]=\nNever use this special character —\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n\n[Text to be Re-Written]=\n{{362.result}}\n\n\n[100% Human text - Use for reference]=\nWho is the ABC Platform for?\nThe ABC Platform is perfect for SMBs and agencies that have fundamental tech and automation skills. But don’t have the time to build out the automations themselves.\nAgencies in particular will be able to gain an insane ROI, due to the built-in client/multi-site management.\n\nWhat is the ABC Platform?\nThe ABC Platform is a subscription including 2 different software (Visual Database & Automation Platform) plus access to Scale By Tech’s advanced automation vault.\nThe SBT Vault consists of Pre-built production grade automations.\n\nWhy should you care?\nBy having a visual database + automation platform + pre-built automations you will get up and running in no time, with minimal effort.\nAnd since you would need both a visual database and an automation platform to run any meaningful automation, we made it simple and combined everything into one bundle.\n\nHence the slogan: Deploy & Enjoy\n\n----\n\nTiger Spirit Animal\nIn the kingdom of spirit animal, the tiger puts a special emphasis on raw feelings and emotions. The tiger spirit animal symbolizes primal instincts, unpredictability, and ability to trust yourself. By affinity with this spirit animal, you may enjoy dealing with life matters spontaneously, trusting your intuition and acting fast when needed.\nWhat is the meaning of the tiger spirit animal?\nCommon symbolism for the tiger is:\n\nThe primary meaning of the tiger spirit animal is willpower, personal strength and courage;\nShadow or part of you that you would normally try to hide or reject.\nAggression or anger directed at you or felt towards someone;\nUnpredictability in life, actions or feelings;\nIn the field of animal symbolism, the tiger is associated with both positive and negative meanings. In order to fully grasp the message this spirit animal has for you, pay attention to the behavior it displays and the feelings you have toward it. It will guide you to a deeper, more embodied understanding of meaning of this animal in your life.\n\n----\n\nElephant Symbolism & Spiritual Meaning\nIn many cultures, elephants are featured as symbols of power, wisdom, inspiration, and reverence. Their strength is legendary throughout history as well as mythology. Even today, they still carry this powerful connotation with them, which makes them the perfect spirit animal for anyone who wants to take charge of what’s happening in their life.\n\nWhat does the elephant symbolize?\nGenerally, the elephant represents:\n\n- Strength\n- Power\n- Wisdom\n- Intuition\n- Longevity\n- Maternal instinct, motherliness\n- Stability in our lives\n- Physical strength and invulnerability\n- Endurance and a desire to live a long life\n\nA reminder that life is like a circus (sometimes crazy, but full of wonder)\nMother Earth\nElephants are iconic creatures, and they are notorious for having many different meanings. However generally the elephant symbolizes power and invincibility. This divine animal is also symbolic of wisdom and longevity. Many people will see elephants as more than just a cute creature – they will see them as a symbol of protection and strength and an ally that will guide them through the difficult times of their lives.\n\nPower & Strength: The elephant invites you to become more aware of your own power\nThe elephant has long been admired because of its strength and power. Elephants can lift or carry as much as 16,000 pounds, and they can also run at speeds of up to 40 miles per hour despite its heavy weight. This incredible animal teaches us to recognize our own strength and power. We all have power and we can use it for good, making our lives and the world a better place. We only need to be aware of this power and take charge of it.\n\nThrough contemplation and meditation about the elephant’s spirit animal qualities, we can use its wisdom to enhance our own strength.\n\nIf we feel powerless, there are ways to balance this out. For example, you can become more mindful, listen to your intuition or reach out for help. Also, by recognizing that power comes from within us, we can begin the journey of feeling powerful again. When you find the elephant spirit guide in your life, you will become more aware of your own strengths and abilities. You will become more secure, knowing that you have the power to create what you want your life to be.","imageDetail":"auto"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":381,"mapper":{"id":"","model":"","usage":{"total_tokens":"","prompt_tokens":"","completion_tokens":"","prompt_tokens_details":{"text_tokens":"","audio_tokens":"","image_tokens":"","cached_tokens":""},"completion_tokens_details":{"text_tokens":"","audio_tokens":"","reasoning_tokens":"","accepted_prediction_tokens":"","rejected_prediction_tokens":""}},"object":"","result":"{{362.result}}","choices":[],"created":"","service_tier":"","system_fingerprint":""},"module":"builtin:Resume","version":1,"metadata":{"expect":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"name":"value","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"restore":{},"designer":{"x":6000,"y":300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"designer":{"x":5700,"y":150,"name":"Re-Write Writing Style"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":345,"mapper":{"name":"ArticleSoFar","scope":"roundtrip","value":"{{344.ArticleSoFar}}{{if(20.`__IMTINDEX__` % 327.data.data.records[].fields.`Img Density` = 0 & 20.`__IMTINDEX__` < ((10 * 327.data.data.records[].fields.`Img Density`) + 1); get(split(374.result; newline); 1) + \"\n<<<alt-img-\" + (20.`__IMTINDEX__` / 327.data.data.records[].fields.`Img Density`) + \">>>\" + newline + substring(374.result; length(first(split(374.result; newline))); length(374.result)); 374.result)}}\n{{newline}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":6000,"y":0},"interface":[{"name":"ArticleSoFar","type":"any","label":"ArticleSoFar"}]},"parameters":{}},{"id":31,"mapper":{"value":"{{if(20.`__IMTINDEX__` % 327.data.data.records[].fields.`Img Density` = 0 & 20.`__IMTINDEX__` < ((10 * 327.data.data.records[].fields.`Img Density`) + 1); get(split(374.result; newline); 1) + \"\n<<<alt-img-\" + (20.`__IMTINDEX__` / 327.data.data.records[].fields.`Img Density`) + \">>>\" + newline + substring(374.result; length(first(split(374.result; newline))); length(374.result)); 374.result)}}\n{{newline}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [20]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":6300,"y":0,"messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":20,"rowSeparator":"\n"}}]},{"flow":[{"id":375,"filter":{"name":"No Re-Write","conditions":[[{"a":"{{360.`Is Redundant`}}","b":"no","o":"text:equal"}]]},"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are tasked with re-writing the provided [Text] by strictly following the [New Writing Style Guide]. We want the text to feel more human. Use the [100% Human text - Use for reference].\nDo not think of this as a simple re-write. Reconstruct every sentence to follow the New Writing Style Guide. The core information is what matters.\nOnly output the new text and nothing else.\n\n\n------\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nTRANSLATION FUNDAMENTALS\n- Translate into natural, conversational {{329.data.data.records[].fields.`Article Language`}} that preserves the original voice and impact\n- Focus on meaning over literal translation, prioritizing how {{329.data.data.records[].fields.`Article Language`}}s communicate\n\nCULTURAL & LINGUISTIC ADAPTATION\n- Replace English idioms and metaphors with {{329.data.data.records[].fields.`Article Language`}} equivalents that convey the same meaning.\n- Adapt cultural references to resonate specifically with {{329.data.data.records[].fields.`Article Language`}}s\n- Preserve humor by adapting jokes to {{329.data.data.records[].fields.`Article Language`}} sensibilities\n\nTECHNICAL LANGUAGE GUIDELINES\n- Use established {{329.data.data.records[].fields.`Article Language`}} terms where they exist.\n- Maintain English terms with proper {{329.data.data.records[].fields.`Article Language`}} context where they're commonly used untranslated in {{329.data.data.records[].fields.`Article Language`}} business\n- Add brief clarifications for specialized terms when helpful for {{329.data.data.records[].fields.`Article Language`}} audience\n- Use authentic {{329.data.data.records[].fields.`Article Language`}} expressions.\n- Preserve industry-specific jargon with appropriate {{329.data.data.records[].fields.`Article Language`}} equivalents\n\nYour goal is creating content that feels natively written in {{329.data.data.records[].fields.`Article Language`}} by a knowledgeable professional - preserving the viral quality and insights while being linguistically and culturally authentic for {{329.data.data.records[].fields.`Article Language`}} readers.\n\nAlways include and output the initial H2 title.\nAlways include and output hyperlinks as original written.\nOnly output the re-written text (including the initial H2 title, hyperlinks, tables, lists etc.) and nothing else.\nInitial H2 title must not be re-written.\n\n\nOutput in Markdown without a Markdown wrapper (tables must be HTML).\n\nYou always write tables in simple HTML without HTML wrapper, with a border of 1px even though the rest of the output is in Markdown.\nExample:\n<table border=\"1\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Column 1</th>\n    <th>Column 2</th>\n  </tr>\n  <tr>\n    <td>Row 1, Column 1</td>\n    <td>Row 1, Column 2</td>\n  </tr>\n  <tr>\n    <td>Row 2, Column 1</td>\n    <td>Row 2, Column 2</td>\n  </tr>\n</table>\n\n\n[New Writing Style Guide]=\nNever use this special character —\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n\n[Text to be Re-Written]=\n{{23.result}}\n\n\n[100% Human text - Use for reference]=\nWho is the ABC Platform for?\nThe ABC Platform is perfect for SMBs and agencies that have fundamental tech and automation skills. But don’t have the time to build out the automations themselves.\nAgencies in particular will be able to gain an insane ROI, due to the built-in client/multi-site management.\n\nWhat is the ABC Platform?\nThe ABC Platform is a subscription including 2 different software (Visual Database & Automation Platform) plus access to Scale By Tech’s advanced automation vault.\nThe SBT Vault consists of Pre-built production grade automations.\n\nWhy should you care?\nBy having a visual database + automation platform + pre-built automations you will get up and running in no time, with minimal effort.\nAnd since you would need both a visual database and an automation platform to run any meaningful automation, we made it simple and combined everything into one bundle.\n\nHence the slogan: Deploy & Enjoy\n\n----\n\nTiger Spirit Animal\nIn the kingdom of spirit animal, the tiger puts a special emphasis on raw feelings and emotions. The tiger spirit animal symbolizes primal instincts, unpredictability, and ability to trust yourself. By affinity with this spirit animal, you may enjoy dealing with life matters spontaneously, trusting your intuition and acting fast when needed.\nWhat is the meaning of the tiger spirit animal?\nCommon symbolism for the tiger is:\n\nThe primary meaning of the tiger spirit animal is willpower, personal strength and courage;\nShadow or part of you that you would normally try to hide or reject.\nAggression or anger directed at you or felt towards someone;\nUnpredictability in life, actions or feelings;\nIn the field of animal symbolism, the tiger is associated with both positive and negative meanings. In order to fully grasp the message this spirit animal has for you, pay attention to the behavior it displays and the feelings you have toward it. It will guide you to a deeper, more embodied understanding of meaning of this animal in your life.\n\n----\n\nElephant Symbolism & Spiritual Meaning\nIn many cultures, elephants are featured as symbols of power, wisdom, inspiration, and reverence. Their strength is legendary throughout history as well as mythology. Even today, they still carry this powerful connotation with them, which makes them the perfect spirit animal for anyone who wants to take charge of what’s happening in their life.\n\nWhat does the elephant symbolize?\nGenerally, the elephant represents:\n\n- Strength\n- Power\n- Wisdom\n- Intuition\n- Longevity\n- Maternal instinct, motherliness\n- Stability in our lives\n- Physical strength and invulnerability\n- Endurance and a desire to live a long life\n\nA reminder that life is like a circus (sometimes crazy, but full of wonder)\nMother Earth\nElephants are iconic creatures, and they are notorious for having many different meanings. However generally the elephant symbolizes power and invincibility. This divine animal is also symbolic of wisdom and longevity. Many people will see elephants as more than just a cute creature – they will see them as a symbol of protection and strength and an ally that will guide them through the difficult times of their lives.\n\nPower & Strength: The elephant invites you to become more aware of your own power\nThe elephant has long been admired because of its strength and power. Elephants can lift or carry as much as 16,000 pounds, and they can also run at speeds of up to 40 miles per hour despite its heavy weight. This incredible animal teaches us to recognize our own strength and power. We all have power and we can use it for good, making our lives and the world a better place. We only need to be aware of this power and take charge of it.\n\nThrough contemplation and meditation about the elephant’s spirit animal qualities, we can use its wisdom to enhance our own strength.\n\nIf we feel powerless, there are ways to balance this out. For example, you can become more mindful, listen to your intuition or reach out for help. Also, by recognizing that power comes from within us, we can begin the journey of feeling powerful again. When you find the elephant spirit guide in your life, you will become more aware of your own strengths and abilities. You will become more secure, knowing that you have the power to create what you want your life to be.","imageDetail":"auto"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":382,"mapper":{"id":"","model":"","usage":{"total_tokens":"","prompt_tokens":"","completion_tokens":"","prompt_tokens_details":{"text_tokens":"","audio_tokens":"","image_tokens":"","cached_tokens":""},"completion_tokens_details":{"text_tokens":"","audio_tokens":"","reasoning_tokens":"","accepted_prediction_tokens":"","rejected_prediction_tokens":""}},"object":"","result":"{{23.result}}","choices":[],"created":"","service_tier":"","system_fingerprint":""},"module":"builtin:Resume","version":1,"metadata":{"expect":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"name":"value","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"restore":{},"designer":{"x":5700,"y":1500}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"designer":{"x":5400,"y":1350,"name":"Re-Write Writing Style"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":365,"mapper":{"name":"ArticleSoFar","scope":"roundtrip","value":"{{344.ArticleSoFar}}{{if(20.`__IMTINDEX__` % 327.data.data.records[].fields.`Img Density` = 0 & 20.`__IMTINDEX__` < ((10 * 327.data.data.records[].fields.`Img Density`) + 1); get(split(375.result; newline); 1) + \"\n<<<alt-img-\" + (20.`__IMTINDEX__` / 327.data.data.records[].fields.`Img Density`) + \">>>\" + newline + substring(375.result; length(first(split(375.result; newline))); length(375.result)); 375.result)}}\n{{newline}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":5700,"y":1200},"interface":[{"name":"ArticleSoFar","type":"any","label":"ArticleSoFar"}]},"parameters":{}},{"id":367,"mapper":{"value":"{{if(20.`__IMTINDEX__` % 327.data.data.records[].fields.`Img Density` = 0 & 20.`__IMTINDEX__` < ((10 * 327.data.data.records[].fields.`Img Density`) + 1); get(split(375.result; newline); 1) + \"\n<<<alt-img-\" + (20.`__IMTINDEX__` / 327.data.data.records[].fields.`Img Density`) + \">>>\" + newline + substring(375.result; length(first(split(375.result; newline))); length(375.result)); 375.result)}}\n{{newline}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [20]"}},"parameters":{"rowSeparator":{"label":"New row"}}},"advanced":true,"designer":{"x":6000,"y":1200},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":20,"rowSeparator":"\n"}},{"id":371,"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":6300,"y":1200}},"parameters":{}},{"id":366,"mapper":{"name":"ArticleSoFar"},"module":"util:GetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true}],"restore":{},"designer":{"x":6600,"y":1200},"interface":[{"name":"ArticleSoFar","type":"any","label":"ArticleSoFar"}]},"parameters":{}},{"id":355,"mapper":{"text":"{{366.ArticleSoFar}}"},"module":"regexp:Parser","version":1,"metadata":{"expect":[{"name":"text","type":"text","label":"Text"}],"restore":{},"designer":{"x":6900,"y":1200,"name":"Fint Alt Imgs"},"interface":[{"name":"i","type":"uinteger","label":"i"},{"name":"__IMTMATCH__","type":"any","label":"Fallback Match"}],"parameters":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"ignoreInfiniteLoopsWhenGlobal","type":"boolean","label":"Ignore errors when there is an infinite search loop","required":true}]},"parameters":{"global":true,"pattern":"<<<alt-img-\\d+>>>","multiline":false,"sensitive":true,"singleline":false,"continueWhenNoRes":true,"ignoreInfiniteLoopsWhenGlobal":false}},{"id":356,"mapper":{"i":"{{355.i}}","__IMTMATCH__":"{{355.`__IMTMATCH__`}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Fint Alt Imgs - Match pattern [355]"},"target":{"label":"Custom"}}},"designer":{"x":7200,"y":1200}},"parameters":{"feeder":355}},{"id":33,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to write a catchy blog intro to get people to read the full article.\nYou are self-critical.\nYou follow instructions\nYou don't add fluff.\nYou always lead with the most important information first.\nYou write to satisfy the search intent of the main keyword.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nYou always follow the Tone-of-Voice and Writing Style Guide.\nYou always structure and break up sentences with new lines and line breaks as shown in the Text Example in the Tone-of-Voice and Writing Style Guide section.\n\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n------\n\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{329.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Please write an intro paragraph for the blog post topic {{327.data.data.records[].fields.`Main Keyword`}} with the title \"{{32.choices[].message.content}}\".\nUse the blog post outline below as a reference.\n\n{{330.data.data.records[2].fields.`Prompt Template`}}\n\nOnly output the intro paragraph and nothing else.\nNever add a title or headline.\n\nBlog post =\n{{substring(366.ArticleSoFar; 0; 2000)}}"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":333,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":7800,"y":1500}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":7500,"y":1200,"name":"Intro"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":376,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are tasked with re-writing the provided [Text] by strictly following the [New Writing Style Guide]. We want the text to feel more human. Use the [100% Human text - Use for reference].\nDo not think of this as a simple re-write. Reconstruct every sentence to follow the New Writing Style Guide. The core information is what matters.\nOnly output the new text and nothing else.\n\n\n------\nEven though your system inputs are in \"English\" you will always use the language \"{{329.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{329.data.data.records[].fields.`Article Language`}}.\n\nTRANSLATION FUNDAMENTALS\n- Translate into natural, conversational {{329.data.data.records[].fields.`Article Language`}} that preserves the original voice and impact\n- Focus on meaning over literal translation, prioritizing how {{329.data.data.records[].fields.`Article Language`}}s communicate\n\nCULTURAL & LINGUISTIC ADAPTATION\n- Replace English idioms and metaphors with {{329.data.data.records[].fields.`Article Language`}} equivalents that convey the same meaning.\n- Adapt cultural references to resonate specifically with {{329.data.data.records[].fields.`Article Language`}}s\n- Preserve humor by adapting jokes to {{329.data.data.records[].fields.`Article Language`}} sensibilities\n\nTECHNICAL LANGUAGE GUIDELINES\n- Use established {{329.data.data.records[].fields.`Article Language`}} terms where they exist.\n- Maintain English terms with proper {{329.data.data.records[].fields.`Article Language`}} context where they're commonly used untranslated in {{329.data.data.records[].fields.`Article Language`}} business\n- Add brief clarifications for specialized terms when helpful for {{329.data.data.records[].fields.`Article Language`}} audience\n- Use authentic {{329.data.data.records[].fields.`Article Language`}} expressions.\n- Preserve industry-specific jargon with appropriate {{329.data.data.records[].fields.`Article Language`}} equivalents\n\nYour goal is creating content that feels natively written in {{329.data.data.records[].fields.`Article Language`}} by a knowledgeable professional - preserving the viral quality and insights while being linguistically and culturally authentic for {{329.data.data.records[].fields.`Article Language`}} readers.\n\n\nDo not think of this as a simple re-write. Reconstruct every sentence to follow the New Writing Style Guide. The core information is what matters.\nOnly output the new text and nothing else.\nOutput in Markdown without a Markdown wrapper.\n\n\n[New Writing Style Guide]=\nNever use this special character —\n{{329.data.data.records[].fields.`Tone of Voice`}}\n\n\n[Text to be Re-Written]=\n{{33.result}}\n\n\n[100% Human text - Use for reference]=\nWho is the ABC Platform for?\nThe ABC Platform is perfect for SMBs and agencies that have fundamental tech and automation skills. But don’t have the time to build out the automations themselves.\nAgencies in particular will be able to gain an insane ROI, due to the built-in client/multi-site management.\n\nWhat is the ABC Platform?\nThe ABC Platform is a subscription including 2 different software (Visual Database & Automation Platform) plus access to Scale By Tech’s advanced automation vault.\nThe SBT Vault consists of Pre-built production grade automations.\n\nWhy should you care?\nBy having a visual database + automation platform + pre-built automations you will get up and running in no time, with minimal effort.\nAnd since you would need both a visual database and an automation platform to run any meaningful automation, we made it simple and combined everything into one bundle.\n\nHence the slogan: Deploy & Enjoy\n\n----\n\nTiger Spirit Animal\nIn the kingdom of spirit animal, the tiger puts a special emphasis on raw feelings and emotions. The tiger spirit animal symbolizes primal instincts, unpredictability, and ability to trust yourself. By affinity with this spirit animal, you may enjoy dealing with life matters spontaneously, trusting your intuition and acting fast when needed.\nWhat is the meaning of the tiger spirit animal?\nCommon symbolism for the tiger is:\n\nThe primary meaning of the tiger spirit animal is willpower, personal strength and courage;\nShadow or part of you that you would normally try to hide or reject.\nAggression or anger directed at you or felt towards someone;\nUnpredictability in life, actions or feelings;\nIn the field of animal symbolism, the tiger is associated with both positive and negative meanings. In order to fully grasp the message this spirit animal has for you, pay attention to the behavior it displays and the feelings you have toward it. It will guide you to a deeper, more embodied understanding of meaning of this animal in your life.\n\n----\n\nElephant Symbolism & Spiritual Meaning\nIn many cultures, elephants are featured as symbols of power, wisdom, inspiration, and reverence. Their strength is legendary throughout history as well as mythology. Even today, they still carry this powerful connotation with them, which makes them the perfect spirit animal for anyone who wants to take charge of what’s happening in their life.\n\nWhat does the elephant symbolize?\nGenerally, the elephant represents:\n\n- Strength\n- Power\n- Wisdom\n- Intuition\n- Longevity\n- Maternal instinct, motherliness\n- Stability in our lives\n- Physical strength and invulnerability\n- Endurance and a desire to live a long life\n\nA reminder that life is like a circus (sometimes crazy, but full of wonder)\nMother Earth\nElephants are iconic creatures, and they are notorious for having many different meanings. However generally the elephant symbolizes power and invincibility. This divine animal is also symbolic of wisdom and longevity. Many people will see elephants as more than just a cute creature – they will see them as a symbol of protection and strength and an ally that will guide them through the difficult times of their lives.\n\nPower & Strength: The elephant invites you to become more aware of your own power\nThe elephant has long been admired because of its strength and power. Elephants can lift or carry as much as 16,000 pounds, and they can also run at speeds of up to 40 miles per hour despite its heavy weight. This incredible animal teaches us to recognize our own strength and power. We all have power and we can use it for good, making our lives and the world a better place. We only need to be aware of this power and take charge of it.\n\nThrough contemplation and meditation about the elephant’s spirit animal qualities, we can use its wisdom to enhance our own strength.\n\nIf we feel powerless, there are ways to balance this out. For example, you can become more mindful, listen to your intuition or reach out for help. Also, by recognizing that power comes from within us, we can begin the journey of feeling powerful again. When you find the elephant spirit guide in your life, you will become more aware of your own strengths and abilities. You will become more secure, knowing that you have the power to create what you want your life to be.","imageDetail":"auto"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":383,"mapper":{"id":"","model":"","usage":{"total_tokens":"","prompt_tokens":"","completion_tokens":"","prompt_tokens_details":{"text_tokens":"","audio_tokens":"","image_tokens":"","cached_tokens":""},"completion_tokens_details":{"text_tokens":"","audio_tokens":"","reasoning_tokens":"","accepted_prediction_tokens":"","rejected_prediction_tokens":""}},"object":"","result":"{{33.result}}","choices":[],"created":"","service_tier":"","system_fingerprint":""},"module":"builtin:Resume","version":1,"metadata":{"expect":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"name":"value","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"restore":{},"designer":{"x":8100,"y":1200}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"designer":{"x":7800,"y":1050,"name":"Re-Write Writing Style"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":357,"mapper":{"name":"img count","scope":"roundtrip","value":"{{ifempty(length(356.array); 0) + 1}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":8100,"y":900,"name":"Img Count"},"interface":[{"name":"img count","type":"any","label":"img count"}]},"parameters":{}},{"id":348,"mapper":{"object":"{{32.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":8400,"y":900,"name":"Title"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":351,"mapper":{"object":"{{replace(376.result; \"—\"; \", \")}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":8700,"y":900,"name":"Intro"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":347,"mapper":{"object":"{{replace(366.ArticleSoFar; \"—\"; \", \")}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":9000,"y":900,"name":"Article"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":349,"mapper":{"object":"{{replace(34.result; \"—\"; \", \")}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":9300,"y":900,"name":"Conclusion"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":352,"mapper":{"object":"{{372.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":9600,"y":900,"name":"FAQ"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":350,"mapper":{"object":"{{replace(36.result; \"—\"; \", \")}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":9900,"y":900,"name":"Excerpt"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":346,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"06 - Article Done\",\n                \"State\": \"Ready\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"H1 Title\": {{348.json}},\n                \"Intro\": {{351.json}},\n                \"Article\": {{347.json}},\n                \"Conclusion\": {{349.json}},\n                \"FAQ\": {{352.json}},\n                \"Excerpt\": {{350.json}},\n                \"Img Count\": {{357.`img count`}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":10200,"y":900,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":353,"filter":{"name":"Auto On","conditions":[[{"a":"{{327.data.data.records[].fields.Auto}}","b":"true","o":"boolean:equal"}]]},"mapper":{"duration":"5"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"help":"The number of seconds for which the scenario execution will be suspended.","name":"duration","type":"uinteger","label":"Delay","default":1,"required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":10500,"y":900}},"parameters":{}},{"id":377,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"07 - Img Gen\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":10800,"y":900,"name":"Auto Create Img"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":5100,"y":900}}}]},{"flow":[{"id":234,"filter":{"name":"Filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":4200}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":2100}}}],"name":"10 - Article Writer w. review","metadata":{"instant":true,"version":1,"designer":{"notes":[{"id":206,"text":"","filter":false}],"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}