Make Scripts/00 - ABC Cloning BAM - 00/04 - BAM - Deploy and Remove RSS Feed.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"81 - BAM - Remove RSS Feed"}}},"designer":{"x":0,"y":450},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38819,"maxResults":1}},{"id":18,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":2,"filter":{"name":"Terminate RSS","conditions":[[{"a":"{{1.status}}","b":"Terminate RSS","o":"text:equal"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":12,"filter":{"name":"no","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":900,"y":0}}}]},{"flow":[{"id":16,"filter":{"name":"id must be there","conditions":[[{"a":"{{1.scenario_id}}","o":"exist"}]]},"mapper":{"scenario":"{{1.scenario_id}}"},"module":"make:deleteAScenario","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true}],"restore":{"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (dev@scalebytech.com)"}}},"designer":{"x":900,"y":300},"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":24245}},{"id":15,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datashettId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"RSS Terminated\",\n                \"Scenario ID\": \"\",\n                \"Status Message\": \"All Ok - RSS Terminated\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":300,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":17,"filter":{"name":"id must be there","conditions":[[{"a":"{{1.scenario_id}}","o":"notexist"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datashettId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"Error\",\n                \"Scenario ID\": \"\",\n                \"Status Message\": \"No Scenario ID Provided\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":600,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":600,"y":300}}}]},{"flow":[{"id":19,"filter":{"name":"Initiate RSS","conditions":[[{"a":"{{1.status}}","b":"Initiate RSS","o":"text:equal"}]]},"mapper":{"draft":false,"select":"file","scenario":"97019"},"module":"make:getAScenarioBlueprint","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON file"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (dev@scalebytech.com)"}}},"designer":{"x":600,"y":900,"name":"Get 1"},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File name","semantic":"file:name"},{"name":"gitSHA","type":"text","label":"GitHub SHA"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last edit"},{"name":"metadata","spec":[{"name":"input_spec","type":"any","label":"Input spec"},{"name":"output_spec","type":"any","label":"Output spec"}],"type":"collection","label":"Metadata"},{"name":"length","type":"number","label":"Length"}],"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":24245}},{"id":20,"mapper":{"value":"{{replace(replace(replace(replace(replace(replace(toString(19.blueprint); \"https://rss.com/\"; 1.rss_url); \"rec_id\"; 1.recordId); \"99 - RSS Feed Template\"; \"RSS - \" + 1.category + \" - \" + 1.rss_url); \"<<ds4>>\"; 1.`ds-4`); \"<<keyAiT>>\"; 1.keyAitable); \"<<bam-settings>>\"; 1.`bam-settings`)}}"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{},"designer":{"x":900,"y":900,"name":"String 1"}},"parameters":{}},{"id":21,"mapper":{"team":"2301","folder":"7327","blueprint":"{{20.value}}","scheduling":{"type":"indefinitely","interval":"3600"},"organization":"1877"},"module":"make:createAScenario","version":1,"metadata":{"expect":[{"name":"blueprint","type":"any","label":"Blueprint","required":true},{"name":"organization","type":"select","label":"Organization","required":true},{"name":"scheduling","spec":[{"name":"type","type":"select","label":"Type","validate":{"enum":["indefinitely","once","daily","weekly","monthly","yearly"]}},{"name":"interval","type":"uinteger","label":"Minutes","required":true},{"name":"restrict","spec":[{"name":"from","type":"time","label":"Time from"},{"name":"to","type":"time","label":"Time To"},{"name":"days","type":"select","label":"Days","options":[{"label":"Monday","value":1},{"label":"Tuesday","value":2},{"label":"Wednesday","value":3},{"label":"Thursday","value":4},{"label":"Friday","value":5},{"label":"Saturday","value":6},{"label":"Sunday","value":7}],"multiple":true},{"name":"months","type":"select","label":"Months","options":[{"label":"January","value":1},{"label":"February","value":2},{"label":"March","value":3},{"label":"April","value":4},{"label":"May","value":5},{"label":"June","value":6},{"label":"July","value":7},{"label":"August","value":8},{"label":"September","value":9},{"label":"October","value":10},{"label":"November","value":11},{"label":"December","value":12}],"multiple":true}],"type":"array","label":"Advanced Scheduling"},{"name":"start","time":true,"type":"date","label":"Start"},{"name":"end","time":true,"type":"date","label":"End"}],"type":"collection","label":"Scheduling","required":true},{"name":"confirmed","type":"boolean","label":"Confirmed"},{"name":"team","type":"select","label":"Team"},{"name":"folder","type":"select","label":"Folder"}],"restore":{"expect":{"team":{"mode":"edit"},"folder":{"mode":"edit"},"confirmed":{"mode":"chose"},"scheduling":{"nested":{"type":{"mode":"chose","label":"At regular intervals"},"restrict":{"mode":"chose"}}},"organization":{"mode":"edit"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (dev@scalebytech.com)"}}},"designer":{"x":1200,"y":900},"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":24245}},{"id":22,"mapper":{"select":"start","scenario":"{{21.id}}"},"module":"make:startStopAScenario","version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select a method","required":true,"validate":{"enum":["start","stop"]}},{"name":"scenario","type":"text","label":"Scenario ID","required":true}],"restore":{"expect":{"select":{"label":"On"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (dev@scalebytech.com)"}}},"designer":{"x":1500,"y":900},"parameters":[{"name":"__IMTCONN__","type":"account:make2,make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":24245}},{"id":23,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datashettId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"RSS Started\",\n                \"Scenario ID\": \"{{21.id}}\",\n                \"Status Message\": \"All Ok\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.keyAitable}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1800,"y":900,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":300,"y":450}}}],"name":"04 - BAM - Deploy and Remove RSS Feed","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}