Make Scripts/00 - ABC Cloning BAM - 00/99 - RSS Feed Template.json
{"flow":[{"id":1,"mapper":{},"module":"rss:TriggerNewArticle","version":4,"metadata":{"restore":{},"designer":{"x":0,"y":150},"parameters":[{"name":"url","type":"url","label":"URL","required":true},{"name":"maxResults","type":"number","label":"Maximum number of returned items","required":true},{"name":"username","type":"text","label":"User name"},{"name":"password","type":"text","label":"Password"},{"name":"include","type":"select","label":"Process RSS fields","multiple":true,"validate":{"enum":["google-merchant-center","itunes"]}},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true}]},"parameters":{"url":"https://rss.com/","gzip":true,"include":[],"password":"","username":"","maxResults":100}},{"id":15,"filter":{"name":"URL","conditions":[[{"a":"{{1.url}}","o":"exist"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":17,"filter":{"name":"no","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":13,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/<<ds4>>/records","data":"{\n    \"records\": [\n        {\n            \"fields\": {\n                \"Title\": \"{{1.title}}\",\n                \"URL\": \"{{1.url}}\",\n                \"RSS\": [\"rec_id\"],\n                \"BAM Settings\": [\"<<bam-settings>>\"]\n            }\n        }\n    ]\n}","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Bearer <<keyAiT>>"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":300,"name":"Create 1x RSS Item"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":18,"mapper":{"duration":"10"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":900,"y":300}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":300,"y":150}}}],"name":"99 - RSS Feed Template","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}