Make Scripts/00 - ABC Cloning BAM - 02 RSS/01 - Upload News Articles - Check every 60min.json
{"flow":[{"id":4,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/<<<ds-5>>>/records?filterByFormula={Status}=\"04 - Img Gen Started\"","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer <<<keyAitable>>>"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":0,"y":300,"name":"Get AiT News Records"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":5,"mapper":{"array":"{{4.data.data.records}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":600,"y":450}},"parameters":{}},{"id":7,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":13,"filter":{"name":"Images not ok","conditions":[[{"a":"{{5.fields.img0[].url}}","o":"notexist"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/<<<ds-5>>>/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{5.recordId}}\",\n            \"fields\": {\n                \"State\": \"Error\",\n                \"Status\": \"Error\",\n                \"Last Updated\": \"No Image\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer <<<keyAitable>>>"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":300,"name":"Auto Create Img"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":14,"filter":{"name":"All image OK","conditions":[[{"a":"{{5.fields.img0[].url}}","o":"exist"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/<<<ds-5>>>/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{5.recordId}}\",\n            \"fields\": {\n                \"Status\": \"05 - News Upload\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer <<<keyAitable>>>"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":600,"name":"Publish Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":900,"y":450}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":300}}}],"name":"01 - Upload News Articles - Check every 60min","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}