Make Scripts/00 - ABC Cloning BAM - 02 RSS/06 - RSS - Re-Write News.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"02 - RSS - Re-Write News"}}},"designer":{"x":0,"y":750},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38834,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":5,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"State\": \"In Progress\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":600,"y":600,"name":"Update News Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":13,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-4`}}/records?recordIds={{5.data.data.records[].fields.`RSS Item`[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":600,"name":"Get RSS Item"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":6,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-2`}}/records?recordIds={{5.data.data.records[].fields.Site[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":600,"name":"Get Site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":7,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-8`}}/records?recordIds={{5.data.data.records[].fields.`News Title Template`[]}},{{5.data.data.records[].fields.`News Re-Write Template`[]}},{{5.data.data.records[].fields.`Excerpt Template`[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1500,"y":600,"name":"Get Prompt Templates"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":25,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-9`}}/records?filterByFormula=AND(find(\"{{6.data.data.records[].fields.`Site Name`}}\",{Site}),{Category}=1)","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1800,"y":600,"name":"Get Categories"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":26,"mapper":{"array":"{{25.data.data.records}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":2100,"y":600}},"parameters":{}},{"id":27,"mapper":{"value":"Record ID = {{26.recordId}}\nCategory Name = {{26.fields.`Selection Name`}}{{newline}}{{newline}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [26]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":2400,"y":600},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":26,"rowSeparator":""}},{"id":28,"mapper":{"model":"gpt-4o-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to select one (1) Record ID based on what Category would be the best fit for the News Article.\n\nYou are given a list of Categories. Your task is then to pick the best category for the news story, and output the Record ID.\n\nYou only output the record ID and nothing else.\n\nInfo about the News Article=\n{{substring(13.data.data.records[].fields.Article; 0; 1000)}}"},{"role":"user","content":"Please select and output one (1) Record ID based on what Category would be the best fit for the News Article.\n\nCategory list:\n{{27.text}}","imageDetail":"auto"}],"temperature":"0.5","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":29,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3000,"y":1200}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"prediction","type":"text","label":"Predicted Outputs"}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4o-mini (system)"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":2700,"y":600,"name":"Pick Category"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":8,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to create a new title for a news article.\nYou are given the original title, the first part of the article, and an instruction on how to write the new title.\n\nNever wrap the title in quotation marks.\nYou output the title and nothing else.\n\n[Title Writing Instructions]=\n{{7.data.data.records[1].fields.`Prompt Template`}}\n\n\n\nEven though your system inputs are in \"English\" you will always use the language \"{{6.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{6.data.data.records[].fields.`Article Language`}}.\n\n------\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{6.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Create a new news title based on the information given below.\nOnly output the Title and nothing else.\n\n[Original Title]=\n{{5.data.data.records[].fields.Title}}\n\n[First Part Of The Article]=\n{{substring(13.data.data.records[].fields.Article; 0; 1000)}}"}],"temperature":"0.7","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":9,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3300,"y":900}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3000,"y":450,"name":"SEO Title"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":10,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"system","content":"Your task is to re-write the given [Org News Article] by following the [Re-Write Writing Instruction].\n\nYou never include any CTAs or any author info from the [Org News Article].\n\nFormate the article using Markdown.\nNever add H1 title.\nNEVER reference the original source of the news article if any is given.\nOutput the new re-written article and nothing else.\n\nYou always use approximatly the same amount of words as used in the [Org News Article].\n\nYou never use h2 or h3 titles. Write it as a news story.\nYou never add a conclusion or in summary at the end. News storries just end. \n\nEven though your system inputs are in \"English\" you will always use the language \"{{6.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{6.data.data.records[].fields.`Article Language`}}.\n\n------\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{6.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Please re-write the [Org News Article] by following the [Re-Write Writing Instruction].\n\nNever include any CTAs or any author info from the [Org News Article].\n\nFormate the article in Markdown\nOutput the new re-written article and nothing else.\nNever add H1 title.\nNEVER reference the original source of the news article if any is given.\nAlways use approximatly the same amount of words as used in the [Org News Article].\n\n[Re-Write Writing Instruction]=\n{{7.data.data.records[2].fields.`Prompt Template`}}\n\n\n[Org News Article]=\nApproximate word count: {{length(split(13.data.data.records[].fields.Article; space))}} Words\n\n{{13.data.data.records[].fields.Article}}"}],"temperature":"1","n_completions":"1","response_format":"text","reasoning_effort":"high"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":11,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3600,"y":600}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"High"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3300,"y":300,"name":"Re-Write News Article"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":20,"mapper":{"model":"o4-mini","top_p":"1","select":"chat","messages":[{"role":"user","content":"You are tasked with writing an Excerpt for a news article.\n\nEven though your system inputs are in \"English\" you will always use the language \"{{6.data.data.records[].fields.`Article Language`}}\" as your written output language. You will use the grammatically correct spelling for {{6.data.data.records[].fields.`Article Language`}}.\n\n------\nYou never use any of the words from the [Avoid Words List].\n\n[Avoid Words List]=\n{{6.data.data.records[].fields.`Avoid Words`}}"},{"role":"user","content":"Writing Instructions=\n{{7.data.data.records[3].fields.`Prompt Template`}}\n\nDo not use quotation marks or markup tags of any sort.\nOutput plain text.\n\n[Article]=\n{{substring(10.result; 0; 1000)}}"}],"temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":21,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3900,"y":300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Completion Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"reasoning_effort","type":"select","label":"Reasoning Effort","validate":{"enum":["low","medium","high"]}}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"o4-mini"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"User"}},{"role":{"mode":"chose","label":"User"}}]},"logit_bias":{"mode":"chose"},"max_tokens":{"empty":true},"response_format":{"mode":"chose","label":"Text"},"reasoning_effort":{"mode":"chose","label":"Empty"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"HC OpenAI"}}},"advanced":true,"designer":{"x":3600,"y":150,"name":"Excerpt"},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":{"spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"refusal","type":"text","label":"Refusal"}],"type":"collection","label":"Message"}],"type":"collection"},"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":15017}},{"id":22,"mapper":{"object":"{{8.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":3900,"y":0,"name":"Title"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":23,"mapper":{"object":"{{10.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":4200,"y":0,"name":"Re-Write News Article"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":24,"mapper":{"object":"{{20.result}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":4500,"y":0,"name":"Excerpt"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":14,"mapper":{"url":"{{13.data.data.records[].fields.`Img Link`}}","method":"get","serializeUrl":false,"shareCookies":false},"module":"http:ActionGetFile","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"hidden","label":"Method"},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true}],"restore":{},"designer":{"x":4800,"y":0,"name":"Get Img"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true}]},"parameters":{"handleErrors":false}},{"id":16,"mapper":{"data":"{{14.data}}","type":"change","width":"1200","fileName":"{{14.fileName}}","accordingTo":"maximalWidth"},"module":"image:Resize","version":2,"metadata":{"expect":[{"name":"data","type":"buffer","label":"Data","required":true},{"name":"fileName","type":"filename","label":"File name"},{"name":"type","type":"select","label":"I want to","required":true,"validate":{"enum":["change","specifiedDimensions"]}},{"name":"accordingTo","type":"select","label":"According to","required":true,"validate":{"enum":["maximalWidth","maximalHeight","maximalWidthOrHeight","minimalWidth","minimalHeight","minimalWidthOrHeight","percent"]}},{"name":"width","type":"uinteger","label":"Width (px)","required":true,"validate":{"max":3840,"min":1}}],"restore":{"expect":{"type":{"label":"Change the image dimensions while maintaining the height/width ratio"},"accordingTo":{"label":"Maximum width"}}},"designer":{"x":5100,"y":0,"name":"Re-Size Img"}},"parameters":{}},{"id":17,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/attachments","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"multipart/form-data"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"multipart_form_data","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"formDataFields":[{"key":"file","data":"{{16.data}}","fileName":"{{replace(8.result; \"/[~\"\"#%&’'*/:<>?\\{|}.]/g\"; emptystring)}}.jpg","fieldType":"file"}],"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"formDataFields","spec":[{"name":"fieldType","type":"select","label":"Field type","options":[{"label":"Text","value":"text","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}]},{"label":"File","value":"file","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"data","type":"buffer","label":"Data","semantic":"file:data"},{"help":"File name, including the suffix, e.g. invoice, xml","name":"fileName","type":"filename","label":"File name","semantic":"file:name"}]}],"required":true}],"type":"array","label":"Fields"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Multipart/form-data"},"formDataFields":{"mode":"chose","items":[{"fieldType":{"mode":"chose","label":"File"}}]}}},"advanced":true,"designer":{"x":5400,"y":0,"name":"Upload Img"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":18,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"img0\": [\n                    {\n                        \"name\": \"{{17.data.data.name}}\",\n                        \"size\": {{17.data.data.size}},\n                        \"mimeType\": \"{{17.data.data.mimeType}}\",\n                        \"token\": \"{{17.data.data.token}}\",\n                        \"width\": {{17.data.data.width}},\n                        \"height\": {{17.data.data.height}}\n                    }\n                ],\n                \"Status\": \"04 - Img Gen Started\",\n                \"State\": \"Ready\",\n                \"Title\": {{22.json}},\n                \"Article\": {{23.json}},\n                \"Excerpt\": {{24.json}},\n                \"Site Category\": [\"{{28.result}}\"]\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5700,"y":0,"name":"Update News Article Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":12,"filter":{"name":"Filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":1500}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":750}}}],"name":"06 - RSS - Re-Write News","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}