Make Scripts/00 - ABC Cloning BAM - 02 RSS/07 - RSS - WP Upload - Auth Cat.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"ABC - BAM V1 - 05 - News WP Upload - Auth Cat"}}},"designer":{"x":0,"y":300},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":38836,"maxResults":1}},{"id":74,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":75,"filter":{"name":"Filter","conditions":[[{"a":"1","b":"2","o":"text:equal"}]]},"module":"boostspace-bs-todo-2:Todo8b0c60c9","version":1,"metadata":{"designer":{"x":600,"y":0}}}]},{"flow":[{"id":35,"mapper":{"scope":"roundtrip","variables":[{"name":"AiTable Key","value":""},{"name":"News Article Datasheet Id","value":""},{"name":"Site Datasheet Id","value":""},{"name":"Auth Cat Datasheet Id","value":""}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null]}}},"designer":{"x":600,"y":450,"name":"Vars"},"interface":[{"name":"AiTable Key","type":"any","label":"AiTable Key"},{"name":"News Article Datasheet Id","type":"any","label":"News Article Datasheet Id"},{"name":"Site Datasheet Id","type":"any","label":"Site Datasheet Id"},{"name":"Auth Cat Datasheet Id","type":"any","label":"Auth Cat Datasheet Id"}]},"parameters":{}},{"id":37,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"State\": \"In Progress\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":900,"y":450,"name":"Update Article"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":38,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-2`}}/records?recordIds={{37.data.data.records[].fields.Site[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":450,"name":"Get Site"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":72,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-9`}}/records?recordIds={{37.data.data.records[].fields.Author[]}},{{37.data.data.records[].fields.`Site Category`[]}}","data":"","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1500,"y":450,"name":"Get Author and Category"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":83,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/users/{{72.data.data.records[1].fields.Id}}","data":"","gzip":true,"method":"get","headers":[{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":1800,"y":450,"name":"Search Site Users"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":77,"mapper":{"step":"1","start":"1","repeats":"{{if(83.data.id > 0; 0; 1)}}"},"module":"builtin:BasicRepeater","version":1,"metadata":{"expect":[{"name":"start","type":"number","label":"Initial value","required":true},{"name":"repeats","type":"number","label":"Repeats","required":true,"validate":{"max":10000,"min":0}},{"name":"step","type":"number","label":"Step","required":true}],"restore":{},"designer":{"x":2100,"y":450,"name":"If User"}},"parameters":{}},{"id":80,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/users","data":"{\n  \"username\": \"{{replace(lower(72.data.data.records[1].fields.`Selection Name`); space; emptystring)}}\",\n  \"name\": \"{{replace(lower(72.data.data.records[1].fields.`Selection Name`); space; emptystring)}}\",\n  \"first_name\": \"{{first(split(72.data.data.records[1].fields.`Selection Name`; space))}}\",\n  \"last_name\": \"{{last(split(72.data.data.records[1].fields.`Selection Name`; space))}}\",\n  \"email\": \"{{replace(lower(72.data.data.records[1].fields.`Selection Name`); space; emptystring)}}@{{38.data.data.records[].fields.`Root Domain`}}\",\n  \"password\": \"{{uuid}}\",\n  \"roles\": [\"author\"]\n}","gzip":true,"method":"post","headers":[{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":2400,"y":450,"name":"Create User"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":99,"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-9`}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{72.data.data.records[1].recordId}}\",\n            \"fields\": {\n                \"Id\": {{80.data.id}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":2700,"y":450,"name":"Update Users"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":90,"mapper":{"value":"{{80.data.id}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"If User [77]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":3000,"y":450,"name":"Author ID"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":77,"rowSeparator":""}},{"id":84,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/categories/{{ifempty(72.data.data.records[2].fields.Id; 0)}}","data":"","gzip":true,"method":"get","headers":[{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":3300,"y":450,"name":"Search Site Categories"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":85,"mapper":{"step":"1","start":"1","repeats":"{{if(84.data.id > 0; 0; 1)}}"},"module":"builtin:BasicRepeater","version":1,"metadata":{"expect":[{"name":"start","type":"number","label":"Initial value","required":true},{"name":"repeats","type":"number","label":"Repeats","required":true,"validate":{"max":10000,"min":0}},{"name":"step","type":"number","label":"Step","required":true}],"restore":{},"designer":{"x":3600,"y":450,"name":"If Category"}},"parameters":{}},{"id":86,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/categories","data":"{\n  \"name\": \"{{72.data.data.records[2].fields.`Selection Name`}}\",\n  \"slug\": \"{{replace(lower(72.data.data.records[2].fields.`Selection Name`); space; \"-\")}}\",\n  \"parent\": 0\n}","gzip":true,"method":"post","headers":[{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":3900,"y":450,"name":"Create Category"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":100,"filter":{"name":"Not Uncategorized","conditions":[[{"a":"{{74.name}}","b":"Uncategorized","o":"text:notequal"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.`ds-9`}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{72.data.data.records[2].recordId}}\",\n            \"fields\": {\n                \"Id\": {{86.data.id}}\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":4200,"y":450,"name":"Update Categories"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":91,"mapper":{"value":"{{86.data.id}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"If Category [85]"}},"parameters":{"rowSeparator":{"label":"Empty"}}},"designer":{"x":4500,"y":450,"name":"Category ID"},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}}]},"parameters":{"feeder":85,"rowSeparator":""}},{"id":89,"mapper":{"scope":"roundtrip","variables":[{"name":"Author ID","value":"{{83.data.id}}{{90.text}}"},{"name":"Category ID","value":"{{84.data.id}}{{91.text}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null]}}},"designer":{"x":4800,"y":450},"interface":[{"name":"Author ID","type":"any","label":"Author ID"},{"name":"Category ID","type":"any","label":"Category ID"}]},"parameters":{}},{"id":6,"mapper":{"url":"{{37.data.data.records[].fields.img0[].url}}","method":"get","serializeUrl":false,"shareCookies":false},"module":"http:ActionGetFile","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"hidden","label":"Method"},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true}],"restore":{},"designer":{"x":5100,"y":450,"name":"Get Image"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true}]},"parameters":{"handleErrors":false}},{"id":9,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/media","data":"{{6.data}}","gzip":true,"method":"post","headers":[{"name":"Content-Type","value":"{{37.data.data.records[].fields.img0[].mimeType}}"},{"name":"Content-Disposition","value":"attachment; filename=\"{{37.data.data.records[].fields.img0[].name}}\""}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":5400,"y":450,"name":"Media Upload"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":23,"mapper":{"gfm":false,"data":"{{37.data.data.records[].fields.Article}}","sanitize":false},"module":"markdown:Compile","version":2,"metadata":{"expect":[{"name":"data","type":"text","label":"Markdown"},{"name":"gfm","type":"boolean","label":"GitHub Flavored Markdown","required":true},{"name":"sanitize","type":"boolean","label":"Sanitize","required":true}],"restore":{"expect":{"gfm":{"mode":"chose"},"sanitize":{"mode":"chose"}}},"designer":{"x":5700,"y":450,"name":"Body"}},"parameters":{}},{"id":24,"mapper":{"object":"{{23.data}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":6000,"y":450,"name":"Body"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":25,"mapper":{"object":"{{37.data.data.records[].fields.Excerpt}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":6300,"y":450,"name":"Excerpt"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":26,"mapper":{"object":"{{37.data.data.records[].fields.Title}}"},"module":"json:TransformToJSON","version":1,"metadata":{"expect":[{"name":"object","type":"any","label":"Object"}],"restore":{"parameters":{"space":{"label":"Empty"}}},"designer":{"x":6600,"y":450,"name":"Title"},"parameters":[{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"space":""}},{"id":27,"mapper":{"ca":"","qs":[],"url":"https://{{38.data.data.records[].fields.`Root Domain`}}/wp-json/wp/v2/posts","data":"{\n  \"title\": {{26.json}},\n  \"content\": {{24.json}},\n  \"excerpt\": {{25.json}},\n  \"featured_media\": {{9.data.id}},\n  \"status\": \"{{37.data.data.records[].fields.`Publish Setting`}}\",\n  \"author\": {{89.`Author ID`}},\n  \"categories\": {{89.`Category ID`}},\n  \"slug\": \"{{replace(37.data.data.records[].fields.slug; \"/[~\"\"#%&’'*/:<>?\\{|}.]/g\"; emptystring)}}\"\n}","gzip":true,"method":"post","headers":[{"name":"Content-Type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"{{38.data.data.records[].fields.`Application Password`}}","authUser":"{{38.data.data.records[].fields.Username}}","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"advanced":true,"designer":{"x":6900,"y":450,"name":"Add Post"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":96,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":69,"filter":{"name":"Upload OK","conditions":[[{"a":"{{27.statusCode}}","b":"300","o":"number:less"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"06 - Upload Done\",\n                \"State\": \"Ready\",\n                \"Last Updated\": \"{{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"WP Post ID\": \"{{27.data.id}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":7500,"y":300,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":97,"filter":{"name":"Upload Error","conditions":[[{"a":"{{27.statusCode}}","b":"299","o":"number:greater"}]]},"mapper":{"ca":"","qs":[],"url":"https://aitable.ai/fusion/v1/datasheets/{{1.datasheetId}}/records","data":"{\n    \"records\": [\n        {\n            \"recordId\": \"{{1.recordId}}\",\n            \"fields\": {\n                \"Status\": \"06 - Upload Done\",\n                \"State\": \"Error\",\n                \"Last Updated\": \"Upload Failed - {{formatDate(now; \"HH:mm | DD-MM-YY\")}}\",\n                \"WP Post ID\": \"{{27.data.id}}\"\n            }\n        }\n    ]\n}","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{1.`key-Aitable`}}"},{"name":"content-type","value":"application/json"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":7500,"y":600,"name":"Update Record"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":7200,"y":450}}}]}],"version":1,"metadata":{"designer":{"x":300,"y":300}}}],"name":"07 - RSS - WP Upload - Auth Cat","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}